* {
  font-size: 13px;
}

MplContentPane {
  border-image: url('content-pane-background.png') 5;
  padding: 3;
}

MplContentPane > .header {
  border-image: url('content-pane-header.png') 2;
  padding: 3 10 3 15;
}

MplContentPane > MxBoxLayout > .title {
  color: #616261;
  font-size: 16px;
  font-weight: bold;
}

MplEntry {
  border-image: url('mpl-entry-bg.png') 5 5 6 5;
  padding: 7 10 7 10;
}

MxEntry.MplEntryEntry, MxEntry.MplEntryEntry:focus {
  border-image: none;
  font-size: 15px;
}

MxButton.MplEntryButton, MxButton.MplEntryButton:hover, MxButton.MplEntryButton:active {
  border-image: url('mpl-entry-separator.png') 0 0 0 3;
  color: #be1011;
  font-size: 13px;
  padding: 0 2 0 10;
}

MxButton.MplEntryClearButton {
  background-image: url('mpl-entry-clear.png');
  border-image: none;
}

MxButton.MplEntryClearButton:hover {
  background-image: url('mpl-entry-clear-hover.png');
  border-image: none;
}

/* Must be identical to the style defintion for MnbPanelFrame */
MplPanelBackground {
  border-image: url("../drop-down/panel_shadow.png") 4 9 473 9;
  padding: 4 4 12 4;
}

/* Must be identical to the style defintion for MnbPanelFrame */
MplPanelBackground#too-small {
  border-image: url("../drop-down/panel_stub_shadow.png") 4 9 14 9;
  padding: 4 4 12 4;
}
