* {
  font-family: "Open Sans";
  color: #364350;
}

.contentPane {
  background-color: #ecede6;
  padding: 10 15 10 15;
}

MxLabel.titleBar {
  color: white;
  border-image: url("title-bar-bg.png");
  font-size: 18;
  padding: 7 15 10 15;
}

.contentTile {
  border-image: url("content-tile-bg.png") 8;
}

.contentTile:hover {
  border-image: url("content-tile-bg-highlight.png") 8;
}

.contentTile:active {
  border-image: url("content-tile-bg-pressed.png") 8;
}

.contentPanel {
  border-image: url("content-panel-bg.png") 8;
  padding: 11;
}

MxLabel.sectionHeader {
  border-image: url("section-header-bg.png") 2;
  font-size: 14;
  padding: 8 0 8 16;
}

MxBoxLayout.sectionHeader {
  border-image: url("section-header-bg.png") 2;
  padding: 8 0 8 16;
}

MxBoxLayout.sectionHeader MxLabel {
  font-size: 14;
}

.searchBox, .searchBox:focus {
  border-image: url("search-box.png") 26 51 13 10;
  padding: 10 51 10 10;
}

/* Running applications tiles */

MplApplicationView.switcherTile {
  border-image: url("application-view-tile.png") 15 13 15 13;
  padding: 6;
}

.appTitle {
  color: #364350;
  padding: 0 15 0 5;
}

.appSubTitle {
  color: #677784;
  padding: 0 15 5 5;
}

.appBackground {
  border-image: url("application-view-texture.png");
  padding: 23 30;
}

.appShadow {
  border-image: url("application-view-shadow.png") 15 11 19 11;
  padding: 8 10 16 10;
}

.appCloseButton {
    -mx-content-image: url("application-view-closebutton-normal.png");
}
.appCloseButton:hover {
    -mx-content-image: url("application-view-closebutton-hover.png");
}
.appCloseButton:active {
    -mx-content-image: url("application-view-closebutton-pressed.png");
}
