MnbLauncher {
  padding: 0 0 9 0;
  background-color: #ecede6;
}

#fav-pane-content {
  padding: 3 0 3 3;
}

#apps-pane-content {
  padding: 3 0 3 3;
  background-color: #ecede6;
}

.panel {
  padding: 6 0 0 5;
}

/* Fav category */
MxBoxLayout.static-categories-section {
  padding: 10 0 10 3;
  border-image: url("../shared/divider.png") 0 15 1;
}

MxBoxLayout.category-section {
  padding: 12 0 0 0;
}

/*
 * Launcher button.
 */


MnbLauncherButton {
  padding: 10;
}

MnbLauncherButton > *#mnb-launcher-button-fav-toggle {
  background-image: none;
  border-image: none;
}

MnbLauncherButton:hover > *#mnb-launcher-button-fav-toggle {
  background-image: url("launcher-button-fav-toggle.png");
  border-image: none;
}

MnbLauncherButton:hover > *#mnb-launcher-button-fav-toggle:checked {
  background-image: url("launcher-button-fav-toggle-checked.png");
}

MnbLauncherButton:hover > *#mnb-launcher-button-fav-toggle:checked:hover {
  background-image: url("launcher-button-fav-toggle-checked.png");
}

MnbLauncherButton:hover > *#mnb-launcher-button-fav-toggle:active {
  background-image: url("launcher-button-fav-toggle-active.png");
}

MnbLauncherButton:hover > *#mnb-launcher-button-fav-toggle:hover {
  background-image: url("launcher-button-fav-toggle-hover.png");
}
