/*
 * Generic
 */

MnbToolbarApplet#offline MxIcon {
  -mx-content-image: url("icon-network-offline.png");
}
MnbToolbarApplet#offline:hover MxIcon, MnbToolbarApplet#offline:active MxIcon, MnbToolbarApplet#offline:checked MxIcon {
  -mx-content-image: url("icon-network-offline-highlight.png");
}

MnbToolbarApplet#connecting MxIcon {
  -mx-content-image: url("icon-network-connecting.png");
}
MnbToolbarApplet#connecting:hover MxIcon, MnbToolbarApplet#connecting:active MxIcon, MnbToolbarApplet#connecting:checked MxIcon {
  -mx-content-image: url("icon-network-connecting-highlight.png");
}

MnbToolbarApplet#error MxIcon {
  -mx-content-image: url("icon-network-error.png");
}
MnbToolbarApplet#error:hover MxIcon, MnbToolbarApplet#error:active MxIcon, MnbToolbarApplet#error:checked MxIcon {
  -mx-content-image: url("icon-network-error-highlight.png");
}


/*
 * Wired network
 */
MnbToolbarApplet#active MxIcon {
  -mx-content-image: url("icon-network-active.png");
}
MnbToolbarApplet#active:hover MxIcon, MnbToolbarApplet#active:active MxIcon, MnbToolbarApplet#active:checked MxIcon {
  -mx-content-image: url("icon-network-active-highlight.png");
}

/*
 * WiFi
 */

MnbToolbarApplet#wireless-strong MxIcon {
  -mx-content-image: url("icon-network-4.png");
}
MnbToolbarApplet#wireless-strong:hover MxIcon, MnbToolbarApplet#wireless-strong:active MxIcon, MnbToolbarApplet#wireless-strong:checked MxIcon {
  -mx-content-image: url("icon-network-highlight-4.png");
}

MnbToolbarApplet#wireless-good MxIcon {
  -mx-content-image: url("icon-network-3.png");
}
MnbToolbarApplet#wireless-good:hover MxIcon, MnbToolbarApplet#wireless-good:active MxIcon, MnbToolbarApplet#wireless-good:checked MxIcon {
  -mx-content-image: url("icon-network-highlight-3.png");
}

MnbToolbarApplet#wireless-weak MxIcon {
  -mx-content-image: url("icon-network-2.png");
}
MnbToolbarApplet#wireless-weak:hover MxIcon, MnbToolbarApplet#wireless-weak:active MxIcon, MnbToolbarApplet#wireless-weak:checked MxIcon {
  -mx-content-image: url("icon-network-highlight-2.png");
}

/*
 * 3G
 */

MnbToolbarApplet#threeg-strong MxIcon {
  -mx-content-image: url("icon-network-3g-4.png");
}
MnbToolbarApplet#threeg-strong:hover MxIcon, MnbToolbarApplet#threeg-strong:active MxIcon, MnbToolbarApplet#threeg-strong:checked MxIcon {
  -mx-content-image: url("icon-network-3g-highlight-4.png");
}

MnbToolbarApplet#threeg-weak MxIcon {
  -mx-content-image: url("icon-network-3g-2.png");
}
MnbToolbarApplet#threeg-weak:hover MxIcon, MnbToolbarApplet#threeg-weak:active MxIcon, MnbToolbarApplet#threeg-weak:checked MxIcon {
  -mx-content-image: url("icon-network-3g-highlight-2.png");
}

/*
 * Bluetooth
 */

MnbToolbarApplet#bluetooth-strong MxIcon {
  -mx-content-image: url("icon-network-bluetooth-highlight-4.png");
}
MnbToolbarApplet#bluetooth-strong:hover MxIcon, MnbToolbarApplet#bluetooth-strong:active MxIcon, MnbToolbarApplet#bluetooth-strong:checked MxIcon {
  -mx-content-image: url("icon-network-bluetooth-highlight-4.png");
}

MnbToolbarApplet#bluetooth-weak MxIcon {
  -mx-content-image: url("icon-network-bluetooth-2.png");
}
MnbToolbarApplet#bluetooth-weak:hover MxIcon, MnbToolbarApplet#bluetooth-weak:active MxIcon, MnbToolbarApplet#bluetooth-weak:checked MxIcon {
  -mx-content-image: url("icon-network-bluetooth-highlight-2.png");
}

/* WiMAX */

MnbToolbarApplet#wimax-strong MxIcon {
  -mx-content-image: url("icon-network-wimax-4.png");
}
MnbToolbarApplet#wimax-strong:hover MxIcon, MnbToolbarApplet#wimax-strong:active MxIcon, MnbToolbarApplet#wimax-strong:checked MxIcon {
  -mx-content-image: url("icon-network-wimax-strong-highlight-4.png");
}

MnbToolbarApplet#wimax-weak MxIcon {
  -mx-content-image: url("icon-network-wimax-2.png");
}
MnbToolbarApplet#wimax-weak:hover MxIcon, MnbToolbarApplet#wimax-weak:active MxIcon, MnbToolbarApplet#wimax-weak:checked MxIcon {
  -mx-content-image: url("icon-network-wimax-highlight-2.png");
}
