/*
 * Generic
 */

MnbToolbarApplet#offline MxIcon {
  -mx-content-image: url("icon-network-offline.png");
}
MnbToolbarApplet#offline:hover, MnbToolbarApplet#offline:active,MnbToolbarApplet#offline:checked {
  -mx-content-image: url("icon-network-offline-highlight.png");
}

MnbToolbarApplet#connecting {
  -mx-content-image: url("icon-network-connecting.png");
  padding: 0 0 0 0;
}
MnbToolbarApplet#connecting:hover, MnbToolbarApplet#connecting:active,MnbToolbarApplet#connecting:checked {
  -mx-content-image: url("icon-network-connecting-highlight.png");
  padding: 0 0 0 0;
}

MnbToolbarApplet#error {
  -mx-content-image: url("icon-network-error.png");
  padding: 0 0 0 0;
}
MnbToolbarApplet#error:hover, MnbToolbarApplet#error:active,MnbToolbarApplet#error:checked {
  -mx-content-image: url("icon-network-error-highlight.png");
  padding: 0 0 0 0;
}


/*
 * Wired network
 */
MnbToolbarApplet#active {
  -mx-content-image: url("icon-network-active.png");
  padding: 0 0 0 0;
}
MnbToolbarApplet#active:hover, MnbToolbarApplet#active:active,MnbToolbarApplet#active:checked {
  -mx-content-image: url("icon-network-active-highlight.png");
  padding: 0 0 0 0;
}

/*
 * WiFi
 */

MnbToolbarApplet#wireless-strong {
  -mx-content-image: url("icon-network-4.png");
  padding: 0 0 0 0;
}
MnbToolbarApplet#wireless-strong:hover, MnbToolbarApplet#wireless-strong:active,MnbToolbarApplet#wireless-strong:checked {
  -mx-content-image: url("icon-network-highlight-4.png");
  padding: 0 0 0 0;
}

MnbToolbarApplet#wireless-good {
  -mx-content-image: url("icon-network-3.png");
  padding: 0 0 0 0;
}
MnbToolbarApplet#wireless-good:hover, MnbToolbarApplet#wireless-good:active,MnbToolbarApplet#wireless-good:checked {
  -mx-content-image: url("icon-network-highlight-3.png");
  padding: 0 0 0 0;
}

MnbToolbarApplet#wireless-weak {
  -mx-content-image: url("icon-network-2.png");
  padding: 0 0 0 0;
}
MnbToolbarApplet#wireless-weak:hover, MnbToolbarApplet#wireless-weak:active,MnbToolbarApplet#wireless-weak:checked {
  -mx-content-image: url("icon-network-highlight-2.png");
}

/*
 * 3G
 */

MnbToolbarApplet#threeg-strong {
  -mx-content-image: url("icon-network-3g-4.png");
}
MnbToolbarApplet#threeg-strong:hover, MnbToolbarApplet#threeg-strong:active,MnbToolbarApplet#threeg-strong:checked {
  -mx-content-image: url("icon-network-3g-highlight-4.png");
}

MnbToolbarApplet#threeg-weak {
  -mx-content-image: url("icon-network-3g-2.png");
}
MnbToolbarApplet#threeg-weak:hover, MnbToolbarApplet#threeg-weak:active,MnbToolbarApplet#threeg-weak:checked {
  -mx-content-image: url("icon-network-3g-highlight-2.png");
}

/*
 * Bluetooth
 */

MnbToolbarApplet#bluetooth-strong {
  -mx-content-image: url("icon-network-bluetooth-highlight-4.png");
}
MnbToolbarApplet#bluetooth-strong:hover, MnbToolbarApplet#bluetooth-strong:active,MnbToolbarApplet#bluetooth-strong:checked {
  -mx-content-image: url("icon-network-bluetooth-highlight-4.png");
}

MnbToolbarApplet#bluetooth-weak {
  -mx-content-image: url("icon-network-bluetooth-2.png");
}
MnbToolbarApplet#bluetooth-weak:hover, MnbToolbarApplet#bluetooth-weak:active,MnbToolbarApplet#bluetooth-weak:checked {
  -mx-content-image: url("icon-network-bluetooth-highlight-2.png");
}

/* WiMAX */

MnbToolbarApplet#wimax-strong {
  -mx-content-image: url("icon-network-wimax-4.png");
}
MnbToolbarApplet#wimax-strong:hover, MnbToolbarApplet#wimax-strong:active,MnbToolbarApplet#wimax-strong:checked {
  -mx-content-image: url("icon-network-wimax-strong-highlight-4.png");
}

MnbToolbarApplet#wimax-weak {
  -mx-content-image: url("icon-network-wimax-2.png");
}
MnbToolbarApplet#wimax-weak:hover, MnbToolbarApplet#wimax-weak:active,MnbToolbarApplet#wimax-weak:checked {
  -mx-content-image: url("icon-network-wimax-highlight-2.png");
}
