*.in
*.o
*.lo
*.la
*.loT
*.swp
.deps
.libs
Makefile
aclocal.m4
autom4te.cache
/build/autotools/intltool.m4
/build/autotools/shave
/build/autotools/shave-libtool
config.guess
config.h
config.log
config.status
config.sub
configure
cscope.in.out
cscope.out
cscope.po.out
depcomp
install-sh
intltool-extract
intltool-merge
intltool-update
libtool
ltmain.sh
missing
mkinstalldirs
omf.make
/po/POTFILES
/po/stamp-it
stamp-h1
tags
xmldocs.make
*~
/penge/examples/test-app-bookmarks
/penge/examples/test-events-pane
/penge/examples/test-grid-view
/penge/examples/test-people-pane
/penge/examples/test-recent-files-pane
/src/marshal.[ch]
/src/notification-manager-glue.h
/src/tray/na-marshal.[ch]
/src/tray/stamp-na-marshal.h
/tests/test-entry
/tests/test-expander
/tests/test-launcher-button
/tests/test-launcher-monitor
/tests/test-launcher-tree
/tests/test-pasteboard
/tests/test-tray
