*.swp
*.swo
Makefile.in
Makefile
*.m4
*.cache
*.deps
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
*.libs
*.la
*.lo
*.o
*.a
*~
