[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
TryExec=dalston-volume-applet
Exec=dalston-volume-applet
Icon=dalston-volume-applet
Terminal=false
Categories=
Name=Dalston volume applet
Comment=A volume control applet
GenericName=A volume control applet
NoDisplay=true
OnlyShowIn=MOBLIN;
X-GNOME-Autostart-enabled=true
