*.gmo
*.la
*.o
*.lo
.libs
.deps
Makefile
Makefile.in
*~
aclocal.m4
anerley.pc
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
omf.make
Makefile.in.in
POTFILES
stamp-it
stamp-h1
xmldocs.make

tests/test-aggregate-tp-feed
tests/test-simple-grid-view
tests/test-simple-ui
tests/test-tile-view
tests/test-tp-feed
