MxLabel {
  font-family: "Droid Sans";
  font-size: 12px;
}

/* date and time */
MxLabel#date-label {
  color: #31c2ee;
  font-size: 12px;
}

MxLabel#time-label {
  color: #31c2ee;
  font-size: 22px;
}

MxLabel#button-label {
  font-size: 16px;
  color: #505050;
}

MxLabel#error-message {
  font-size: 16px;
  color: #4b4b4b;
}

MxLabel#available-panels {
  font-size: 19px;
  color: #4c4e4b;
}

MxButton#save-button {
  font-size: 19px;
  background-color: #bbb0;
  color: #31c2ee;
}

MtpJar {
  background-color: #f8f8f8;
  padding: 10 10 10 10;
}

MxBoxLayout#message-box {
 padding: 5 0 5 0;
}

MxBoxLayout#panel-area, MxBoxLayout#applet-area {
 padding: 5 0 5 0;
}

MtpBin {
  padding: 0 7 7 7;
  background-color: #f3f3f3;
}

MtpBin#frameless {
  padding: 0 7 7 7;
  background-color: #f3f3f3;
}

MtpToolbar, MtpToolbar:hover {
  border-image: url("panel/panel-background.png") 0 200 0 200;
}

MtpToolbarButton {
  padding: 0;
  background-color: #fff0;
}

MtpToolbarButton#in-jar {
  padding: 5;
  background-color: #bbb0;
}

MnbToolbarButton {
  padding: 0;
  border-image: url("panel/toolbar-button-hover.png") 12;
}

MnbToolbarButton:hover {
  padding: 0;
  border-image: url("panel/toolbar-button-hover.png") 12;
}

MnbToolbarButton#applications-button {
  background-image: url("panel/apps-coloured.png");
}

MnbToolbarButton#internet-button {
  background-image: url("panel/internet-coloured.png");
}

MnbToolbarButton#media-button {
  background-image: url("panel/media-coloured.png");
}

MnbToolbarButton#myzone-button {
  background-image: url("panel/myzone-coloured.png");
}

MnbToolbarButton#pasteboard-button {
  background-image: url("panel/pasteboard-coloured.png");
}

MnbToolbarButton#people-button {
  background-image: url("panel/people-coloured.png");
}

MnbToolbarButton#zones-button {
  background-image: url("panel/spaces-coloured.png");
}

MnbToolbarButton#status-button {
  background-image: url("panel/status-coloured.png");
}

MnbToolbarButton#network-button {
  background-image: url("panel/network-coloured.png");
}

MnbToolbarButton#bluetooth-button {
  background-image: url("panel/bluetooth-coloured.png");
}

MnbToolbarButton#devices-button {
  background-image: url("panel/devices-coloured.png");
}

MxButton#close-button {
  background-image: url("generic/close-button.png");
  border-image:none;
}

MxButton#close-button:hover {
  background-image: url("generic/close-button-hover.png");
  border-image:none;
}

MtpSpace {
  padding: 0 0 0 0;
  border-image: url("panel/toolbar-button-hover.png") 12;
}

MtpClock {
  border-image: url("panel/toolbar-button-hover.png") 12;
  background-image: none;
  padding: 0 0 0 0;
}