MxLabel {
  font-family: "Droid Sans";
  font-size: 12px;
}

/* date and time */
MxLabel#date-label {
  color: #c0c0c0;
  font-size: 12px;
}

MxLabel#time-label {
  color: #c0c0c0;
  font-size: 19px;
}

MxLabel#button-label {
  font-size: 16px;
}

MxLabel#error-message {
  font-size: 16px;
}

MxLabel#available-panels {
  font-size: 19px;
}

MxButton#save-button {
  font-size: 19px;
}

MtpJar {
  background-color: #aaa;
  padding: 10 0 10 0;
}

MxBoxLayout#panel-area, MxBoxLayout#applet-area {
 padding: 5 0 5 0;
}

MtpBin {
  padding: 5;
  background-color: #aaa;
}

MtpToolbar, MtpToolbar:hover {
  border-image: url("panel/panel-background.png") 0 200 0 200 stretch;
}

MxWidget, MxWidget:hover
{
  border-image: none;
}

MtpToolbarButton {
  padding: 0;
  background-color: #fff0;
}

MtpToolbarButton#in-jar {
  padding: 5;
  background-color: #ffff;
}

MnbToolbarButton {
  padding: 0;
  border-image: url("panel/toolbar-button-hover.png") 0;
}

MnbToolbarButton:hover {
  padding: 0;
  border-image: url("panel/toolbar-button-hover.png") 0;
}

MnbToolbarButton#applications-button {
  background-image: url("panel/apps-coloured.png");
}

MnbToolbarButton#internet-button {
  background-image: url("panel/internet-coloured.png");
}

MnbToolbarButton#media-button {
  background-image: url("panel/media-coloured.png");
}

MnbToolbarButton#myzone-button {
  background-image: url("panel/myzone-coloured.png");
}

MnbToolbarButton#pasteboard-button {
  background-image: url("panel/pasteboard-coloured.png");
}

MnbToolbarButton#people-button {
  background-image: url("panel/people-coloured.png");
}

MnbToolbarButton#zones-button {
  background-image: url("panel/spaces-coloured.png");
}

MnbToolbarButton#status-button {
  background-image: url("panel/status-coloured.png");
}

MnbToolbarButton#network-button {
  background-image: url("panel/network-coloured.png");
}

MnbToolbarButton#bluetooth-button {
  background-image: url("panel/bluetooth-coloured.png");
}

MnbToolbarButton#devices-button {
  background-image: url("panel/devices-coloured.png");
}

MxButton#close-button {
  background-image: url("switcher/application-close-button.png");
}

MxButton#close-button:hover {
  background-image: url("switcher/application-close-button-hover.png");
}

MtpSpace {
  background-color: #4447;
}

MtpClock {
  background-image: url("panel/clock-background.png");
  padding: 0 0 8 0;
}