
MplEntry {
  border-image: url('mpl-entry-bg.png') 5 5 6 5;
  padding: 7 10 7 10;
}

MxEntry.MplEntryEntry, MxEntry.MplEntryEntry:focus {
  border-image: none;
  font-size: 15;
}

MxButton.MplEntryButton, MxButton.MplEntryButton:hover, MxButton.MplEntryButton:active {
  border-image: url('mpl-entry-separator.png') 0 0 0 3;
  color: #be1011;
  font-size: 13;
  padding: 0 2 0 10;
}

MxButton.MplEntryClearButton {
  background-image: url('mpl-entry-clear.png');
  border-image: none;
}

MxButton.MplEntryClearButton:hover {
  background-image: url('mpl-entry-clear-hover.png');
  border-image: none;
}
