[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Exec=/usr/libexec/moblin-panel-web
TryExec=/usr/libexec/moblin-panel-web
Name=Moblin Web Panel
Icon=moblin-web-browser
Comment=Moblin Web Panel
Terminal=false
Categories=
OnlyShowIn=MOBLIN;
X-GNOME-Autostart-enable=true
X-Moblin-Priority=High
X-Moblin-Priority=Low
X-Moblin-Service=org.moblin.UX.Shell.Panels.internet
X-Moblin-Panel-Button-Style=internet-button
