
MnbWebStatusRow
{
  padding: 0 0 0 6;
}

MnbWebStatusRow > *.MnbStatusAvatar
{
  border-image: url("file://avatar-bg.png") 5 6 7 6;
  padding: 7 8 9 8;
}

MnbWebStatusEntry
{
  background-color: #ffffffff;
  padding: 6 15 6 18;
}

MnbWebStatusEntry:hover
{
  border-image: url("file://entry-frame-hover.png") 6;
}

MnbWebStatusEntry:active
{
  border-image: url("file://entry-frame-edit.png") 6;
}

MnbWebStatusEntry > *.MnbWebStatusEntryText
{
  font-size: 16px;
  font-family: "Droid Sans";
  color: #595959ff;
  border-image: none;
}

MnbWebStatusEntry > *.MnbWebStatusEntrySubText
{
  font-size: 12px;
  font-family: "Droid Sans Reg Italic";
  color: #7dbe0cff;
}

MnbWebStatusEntry > *.MnbWebStatusEntryCancel
{
  border-image: none;
  background-image: url("file://edit_close.png");
}

MnbWebStatusEntry > *.MnbWebStatusEntryCancel:hover
{
  border-image: none;
  background-image: url("file://edit_close_hover.png");
}

MnbWebStatusEntry > *.MnbWebStatusEntryButton
{
  border-image: none;
  color: #7dbe0cff;
  font-family: "Droid Sans Bold";
  font-size: 13px;
  padding: 0;
}

MnbIMStatusRow
{
  background-color: #ffffffff;
  padding: 6 15 6 7;
}

MnbIMStatusRow > *.MnbStatusAvatar
{
  border-image: url("file://avatar-bg.png") 5 6 7 6;
  padding: 7 8 9 8;
}

NbtkLabel.MnbImStatusLabel
{
  font-size: 16px;
  font-family: "Droid Sans";
  color: #595959ff;
  border-image: none;
}

NbtkLabel.MnbImAccountLabel
{
  font-size: 12px;
  font-family: "Droid Sans";
  color: #7dbe0cff;
}

NbtkLabel.MnbImExpandLabel
{
  border-image: none;
  color: #7dbe0cff;
  font-family: "Droid Sans Bold";
  font-size: 13px;
  padding: 0;
}

NbtkIcon.MnbImExpandIconOpen
{
  background-image: url("file://plus-button.png");
}

NbtkIcon.MnbImExpandIconOpen:hover
{
  background-image: url("file://plus-button-hover.png");
}

NbtkIcon.MnbImExpandIconClose
{
  background-image: url("file://minus-button.png");
}

NbtkIcon.MnbImExpandIconClose:hover
{
  background-image: url("file://minus-button-hover.png");
}

NbtkBoxLayout.MnbImStatusSelector
{
  padding: 4 2 4 60;
}

NbtkGrid.MnbImPresenceRow
{
  font-size: 16px;
  font-family: "Droid Sans";
  color: #595959ff;
  padding: 2 2 2 2;
  background-color: #e8e8e8;
}

NbtkGrid.MnbImPresenceRow:hover
{
  background-color: #cbcbcb;
}

*.MnbStatusPageTable
{
  border-image: url("file://decoration-frame.png") 13 17 17 17 stretch;
  padding-top: 17px;
  padding-left: 19px;
  padding-right: 19px;
  padding-bottom: 19px;
}

*.MnbStatusPageHeader
{
  font-family: "Droid Sans Bold";
  font-size: 18px;
  color: #3e3e3eff;
  padding: 6 6 0 12;
}

*.status-web-empty-bin {
  border-image: url('file://placeholder-bg.png') 4 stretch;
  padding: 8;
}

*.status-web-empty-label {
  font-family: "Droid Sans";
  font-size: 16px;
  color: #595959ff;
}

*.status-im-empty-bin {
  border-image: url('file://placeholder-bg.png') 4 stretch;
  padding: 8;
}

*.status-im-empty-label {
  font-family: "Droid Sans";
  font-size: 16px;
  color: #595959ff;
}

MnbLauncherButton:hover
{
  border-image: url("file://launcher-button-bg.png") 5 6 7 6;
  padding: 9 10 11 10;
}

MnbLauncherButton
{
  padding: 9 10 11 10;
}

MnbLauncherButton *#launcher-app-description
{
  font-family: "Droid Sans";
  font-size: 16px;
  color: #595959ff;
}
