*.mps-tweet-avatar-frame
{
  border-image: url("avatar_frame.png") 4 4 4 4;
  padding: 2 2 2 2;
}

MpsTweetCard, MpsTweetCard:hover, MpsTweetCard:active
{
  border-image: url("status_card_background.png") 4 4 4 4;
  padding: 16 8 16 0;
}

MpsTweetCard.mps-tweet-card-first,
MpsTweetCard.mps-tweet-card-first:hover,
MpsTweetCard.mps-tweet-card-first:active
{
  border-image: none;
}

*.mps-tweet-content-label
{
  font-family: Droid Sans;
  color: #595959ff;
  font-size: 14;
}

*.mps-tweet-secondary-label
{
  font-family: Droid Sans;
  color: #7dbe0cff;
  font-size: 12;
}

*.mps-switcher-notebook
{
  padding: 16;
}

*.mps-switcher-new-service
{
  border-image: url("add_status_header.png") 4 4 4 4;
  padding: 6;
  color: white;
  font-size: 16pt;
  font-family: Droid Sans;
}

*.mps-switcher-button
{
  border-image: url("alt_status_header.png") 4 4 4 4;
  padding: 6;
  color: white;
  font-size: 16pt;
  font-family: Droid Sans;
}

*.mps-switcher-button:checked,
*.mps-switcher-button:active
{
  border-image: url("current_status_header.png") 4 4 4 4;
  padding: 6;
  color: white;
  font-size: 16pt;
  font-family: Droid Sans;
}

*.mps-switcher-button:hover,
*.mps-switcher-button:active,
*.mps-switcher-new-service:hover,
*.mps-switcher-new-service:active
{
  border-image: url("status_header_hover.png") 4 4 4 4;
  padding: 6;
  color: white;
  font-size: 16pt;
  font-family: Droid Sans;
}

*.mps-status-entry
{
  border-image: url("status_entry_box.png") 4 4 4 4;
}

*.mps-status-entry *.MplEntryEntry
{
  font-size: 16pt;
  color: #595959ff;
  border-image:none;
}

*.mps-status-entry *.MplEntryButton
{
  color: #7dbe0cff;
}

*.mps-switcher-placeholder-label, *.mps-something-wrong-message
{
  color: #595959ff;
  font-size: 16pt;
}

*.mps-something-wrong-frame
{
  padding: 4px;
}

MpsFeedSwitcher
{
  padding: 0 8 0 8;
}

*.mps-tweet-card-reply-button MxIcon
{
  -mx-content-image: url("tweet-reply.png");
  padding: 0;
}

*.mps-tweet-card-retweet-button MxIcon
{
  -mx-content-image: url("retweet.png");
  padding: 0;
}

*.mps-tweet-card-reply-button:hover MxIcon
{
  -mx-content-image: url("tweet-reply-hover.png");
  padding: 0;
}

*.mps-tweet-card-retweet-button:hover MxIcon
{
  -mx-content-image: url("retweet-hover.png");
  padding: 0;
}

*.mps-tweet-card-reply-button,
*.mps-tweet-card-reply-button:active
{
  border-image: none;
  padding: 0;
}

*.mps-tweet-card-retweet-button,
*.mps-tweet-card-retweet-button:active
{
  border-image: none;
  padding: 0;
}


*.mps-tweet-card-reply-button:hover,
*.mps-tweet-card-retweet-button:hover
{
  border-image: url("icon-bg-hover.png") 4;
  padding: 0;
}

