MxLabel.titleBar
{
  color: #2a3c4a;
  border-image: none;
  font-size: 16px;
  padding: 7 0 3;
}

PengeGridView
{
  border-image: url('myzone-default-background.png') 5 5 5 5;
  padding: 0 15 15 15;
}

PengeCalendarPane
{
  padding: 3;
}

*.PengeGridViewTopContainer
{
  border-image: url('../../style/shared/content-panel-bg.png') 5;
}

PengeAppsPane
{
  padding: 6 0 15;
/*
  border-image: url('../../style/shared/content-panel-bg.png') 5;
*/
}

*.PengeEventsPaneHeader, *.PengeTasksPaneHeader
{
  padding: 6;
}


MxLabel.PengeEventsPaneTitle, MxLabel.PengeTasksPaneTitle
{
  font-size: 16px;
  color: #616261ff;
}

PengeEventTile, PengeTaskTile
{
  padding: 6;
  border-image: url('event-task-tile-bg.png') 4;
}

PengeEventTile.FirstTile, PengeTaskTile.FirstTile
{
  border-image: none;
  padding: 6;
}

PengeEventTile:hover, PengeTaskTile:hover
PengeEventTile:active, PengeTaskTile:active
{
  border-image: url('event-task-tile-bg.png') 4;
  padding: 6;
}

PengeEventTile.FirstTile:hover, PengeTaskTile.FirstTile:hover
PengeEventTile.FirstTile:active, PengeTaskTile.FirstTile:active
{
  border-image: none;
  padding: 6;
}

PengeAppTile,
PengeAppTile:hover,
PengeAppTile:active
{
  border-image: url('../../style/shared/application-icon-mask.png') 8 9;
}

PengeAppsPane *.PengeAppTileOverlay
{
  border-image: url('../../style/shared/application-mask.png');
}

PengeRecentFileTile
{
  border-image: url('../../style/shared/content-panel-bg.png') 5;
  padding: 8;
}

PengeRecentFileTile:hover,
PengeRecentFileTile:active
{
  border-image: url('content-panel-background-highlight.png') 5;
  padding: 8;
}

PengePeopleTile
{
  border-image: url('../../style/shared/content-panel-bg.png') 5;
  padding: 0;
}

PengePeopleTile:hover,
PengePeopleTile:active
{
  border-image: url('content-panel-background-highlight.png') 5;
  padding: 0;
}

PengeCountTile
{
  border-image: none;
  padding: 12;
}

PengeCountTile:hover,
PengeCountTile:active
{
  border-image: url('content-panel-background-highlight.png') 5;
  padding: 12;
}

MxLabel.PengeEventTimeLabel
{
  font-weight: bold;
}

MxLabel.PengeEventTimeLabel:past
{
  font-weight: bold;
}

MxLabel.PengeEventSummary
{
}

*.PengePeopleTileOuterMargin
{
  padding: 8;
}

PengePeopleTile *.PengeInterestingTilePrimaryLabel,
PengeRecentFileTile *.PengeInterestingTilePrimaryLabel
{
  color: #3e3e3eff;
  font-size: 14px;
}

PengePeopleTile *.PengeInterestingTileSecondaryLabel,
PengeRecentFileTile *.PengeInterestingTileSecondaryLabel
{
  color: #abb1b3;
  font-size: 11px;
}

PengePeopleTile *.PengePeopleTileContentLabel
{
  font-size: 14px;
}

PengePeopleTile *.PengePeopleTileContentBackgroundWithoutHeader
{
  border-image: url('../../style/shared/content-tile-bg.png') 45 51 46 52;
  padding: 8;
}

PengePeopleTile *.PengePeopleTileContentBackgroundWithHeader
{
  border-image: url('../../style/shared/content-tile-bg.png') 45 51 46 52;
  padding: 8;
}

PengeEventsPane *.PengeNoMoreEventsLabel, PengeTasksPane *.PengeNoMoreTasksLabel
{
  font-size: 14px;
  color: #2c2c2cff;
}

MxTable.PengeInterestingTileDetails
{
}

MxFrame.PengeInterestingTileDetailsMargin
{
  padding: 10 8 5;
}

MxTable.PengeInterestingTileDetails *.PengeInterestingTileMessageIconOverlay
{
  border-image: url("avatar-mask.png");
}

PengePeoplePlaceholderTile *#penge-no-content-main-message
{
  font-size:15px;
  color: #2c2c2cff;
}

PengePeoplePlaceholderTile *#penge-no-content-other-message
{
  font-size:14px;
  color: #2c2c2cff;
}

PengePeoplePlaceholderTile
{
  border-image: url('no-content-tile-bg.png') 7 8 9 8;
  padding: 10 11 12 11;
}

PengePeoplePlaceholderTile:hover
{
  border-image: url('no-content-tile-glow-bg.png') 7 8 9 8;
  padding: 10 11 12 11;
}

PengeWelcomeTile
{
}

*#penge-welcome-primary-text
{
  color: #31c2eeff;
  font-size:22px;
}

*#penge-welcome-secondary-text
{
  font-size:18px;
  color: #616261;
  padding: 0 0 12 0;
}

*#penge-welcome-launcher
{
  border-image: url('../../style/shared/content-panel-bg.png') 5;
  padding: 4 4 4 4;
}

*#penge-welcome-launcher:hover,
*#penge-welcome-launcher:active
{
  border-image: url('content-panel-background-highlight.png') 5;
  padding: 4 4 4 4;
}

*#penge-welcome-launcher-thumbnail
{
  -mx-content-image: url('intro-video-thumbnail.png');
}

*#penge-welcome-launcher-play-button
{
  -mx-content-image: url('play-button.png');
}


*.PengeInterestingTileRemoveButton,
*.PengeInterestingTileRemoveButton:hover,
*.PengeInterestingTileRemoveButton:active
{
  border-image: none;
  padding:0;
}

*.PengeInterestingTileRemoveButton *.PengeInterestingTileIcon
{
  -mx-content-image: url('../../style/switcher/closebutton-normal.png');
}

*.PengeInterestingTileRemoveButton:hover *.PengeInterestingTileIcon
{
  -mx-content-image: url('../../style/switcher/closebutton-hover.png');
}

*.PengeInterestingTileRemoveButton:active *.PengeInterestingTileIcon
{
  -mx-content-image: url('../../style/switcher/closebutton-pressed.png');
}


MxLabel.PengeZeroCountLabel
{
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-image: url('message-count-bg-none.png') 12;
  padding: 2 4;
}

MxLabel.PengeCountLabel
{
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-image: url('message-count-bg.png') 12;
  padding: 2 4;
}

MxLabel.PengeCountMessageLabel
{
  font-size: 14px;
  font-weight: bold;
  padding: 1 0 0 0;
}

MxLabel.PengeCountAccountLabel
{
  font-size: 13px;
  padding: 1 0 0 0;
}

*#tasks-icon
{
  -mx-content-image: url("tasks-icon.png");
}
