/* Currently not shown, MxFrame.titleBar is used instead
MxLabel.titleBar
{
  color: #2a3c4a;
  border-image: none;
  font-size: 16px;
  padding: 7 0 3;
}
*/

MxFrame.titleBar
{
  padding: 5 0 5 0;
}

PengeGridView
{
  border-image: url('myzone-default-background.png') 5 5 5 5;
  padding: 0 13 0 13;
}

PengeCalendarPane
{
  padding: 3;
}

*.PengeCalendarPaneSeparatorMiddle,
*.PengeCalendarPaneSeparatorLower
{
  padding: 12 5 12;
  border-image: url('event-task-tile-bg.png');
}

*.PengeGridViewTopContainer
{
  border-image: url('content-panel-bg.png') 10;
  padding: 0 0 10;
}

PengeAppsPane
{
  padding: 6 0 15;
}

*.PengeEventsPaneHeader
{
  padding: 7 9 0;
}

*.PengeTasksPaneHeader
{
  padding: 20 9 0;
}


MxLabel.PengeEventsPaneTitle, MxLabel.PengeTasksPaneTitle
{
  font-size: 14px;
  color: #fefffa;
}

PengeEventTile, PengeTaskTile,
PengeEventTile:hover, PengeTaskTile:hover,
PengeEventTile:active, PengeTaskTile:active
{
  border-image: none;
  padding: 7 15 0 11;
}

PengeEventTile.FirstTile, PengeTaskTile.FirstTile,
PengeEventTile.FirstTile:hover, PengeTaskTile.FirstTile:hover,
PengeEventTile.FirstTile:active, PengeTaskTile.FirstTile:active
{
  border-image: none;
  padding: 9 15 0 11;
}

PengeAppTile,
PengeAppTile:hover,
PengeAppTile:active
{
  border-image: url('transparent_pixel.png') 0;
  padding: 1;
}

PengeAppsPane *.PengeAppTileOverlay
{
}

PengeRecentFileTile
{
  border-image: url('content-panel-bg.png') 5;
  padding: 0;
}

PengeRecentFileTile:hover,
PengeRecentFileTile:active
{
  border-image: url('content-panel-bg-focus.png') 5;
  padding: 0;
}

PengePeopleTile
{
  border-image: url('content-panel-bg.png') 5 5 5 5;
  padding: 0;
}

PengePeopleTile:hover,
PengePeopleTile:active
{
  border-image: url('content-panel-bg-focus.png') 5 5 5 5;
  padding: 0;
}

PengeCountTile,
PengeCountTile:hover,
PengeCountTile:active
{
  border-image: none;
  padding: 12;
}

MxLabel.PengeEventTimeLabel
{
  font-weight: bold;
  color: #fefffa;
  padding: 0 0 0 5;
}

MxLabel.PengeEventTimeLabel:past
{
  font-weight: bold;
  color: #e4e5df;
  padding: 0 0 0 5;
}

MxLabel.PengeEventSummary
{
  color: #fefffa;
}

MxLabel.PengeEventSummary:past
{
  color: #e4e5df;
}


MxLabel.PengeTaskSummaryLabel
{
  color: #fefffa;
}

MxLabel.PengeTaskDetail
{
  color: #fefffa;
}

*#check-box
{
 padding: 100;
}

MxLabel.PengeTaskDetail:past
{
  color: #e4e5df;
}

*.PengePeopleTileOuterMargin
{
  padding: 0;
}

PengePeopleTile *.PengeInterestingTilePrimaryLabel,
PengeRecentFileTile *.PengeInterestingTilePrimaryLabel
{
  color: #3e3e3eff;
  font-size: 14px;
}

PengePeopleTile *.PengeInterestingTileSecondaryLabel,
PengeRecentFileTile *.PengeInterestingTileSecondaryLabel
{
  color: #abb1b3;
  font-size: 11px;
}

PengePeopleTile *.PengePeopleTileContentLabel
{
  font-size: 14px;
  color: #fefffa;
}

*.PengeInterestingTileBody
{
}

PengePeopleTile *.PengeInterestingTileHeader
{
  padding: 3 0 0 0;
}

PengePeopleTile *.PengePeopleTileContentBackgroundWithoutHeader
{
  padding: 12;
}

PengePeopleTile *.PengePeopleTileContentBackgroundWithHeader
{
  padding: 12;
}

PengeEventsPane *.PengeNoMoreEventsLabel, PengeTasksPane *.PengeNoMoreTasksLabel
{
  font-size: 14px;
  color: #fefffa;
}

MxTable.PengeInterestingTileDetails
{
}

MxFrame.PengeInterestingTileDetailsMargin
{
  padding: 0 8 5;
  border-image: url('content-footer-bg.png') 0 10 10 10;
}

MxTable.PengeInterestingTileDetails *.PengeInterestingTileMessageIconOverlay
{
  padding: 5;
  border-image: url("avatar-mask.png");
}

PengePeoplePlaceholderTile *#penge-no-content-main-message
{
  font-size:15px;
  color: #2c2c2cff;
}

PengePeoplePlaceholderTile *#penge-no-content-other-message
{
  font-size:14px;
  color: #2c2c2cff;
}

PengePeoplePlaceholderTile
{
  border-image: url('no-content-tile-bg.png') 7 8 9 8;
  padding: 10 11 12 11;
}

PengePeoplePlaceholderTile:hover
{
  border-image: url('no-content-tile-glow-bg.png') 7 8 9 8;
  padding: 10 11 12 11;
}

PengeWelcomeTile
{
  padding: 132 0 0 69;
}

*#penge-welcome-primary-text
{
  color: #31c2eeff;
  font-size:22px;
}

*#penge-welcome-secondary-text
{
  font-size:18px;
  color: #616261;
  padding: 0 0 12 0;
}

*#penge-welcome-launcher
{
  border-image: url('content-panel-bg.png') 5;
  padding: 4 4 4 4;
}

*#penge-welcome-launcher:hover,
*#penge-welcome-launcher:active
{
  border-image: url('content-panel-bg-focus.png') 5;
  padding: 4 4 4 4;
}

*#penge-welcome-launcher-thumbnail
{
  -mx-content-image: url('intro-video-thumbnail.png');
}

*#penge-welcome-launcher-play-button
{
  -mx-content-image: url('play-button.png');
}


*.PengeInterestingTileRemoveButton,
*.PengeInterestingTileRemoveButton:hover,
*.PengeInterestingTileRemoveButton:active
{
  border-image: none;
  padding: 0 3 0 0;
}

*.PengeInterestingTileRemoveButton *.PengeInterestingTileIcon
{
  -mx-content-image: url('../switcher/closebutton-normal.png');
}

*.PengeInterestingTileRemoveButton:hover *.PengeInterestingTileIcon
{
  -mx-content-image: url('../switcher/closebutton-hover.png');
}

*.PengeInterestingTileRemoveButton:active *.PengeInterestingTileIcon
{
  -mx-content-image: url('../switcher/closebutton-pressed.png');
}


MxLabel.PengeZeroCountLabel
{
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-image: url('message-count-bg-none.png') 12;
  padding: 2 4;
}

MxLabel.PengeCountLabel
{
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-image: url('message-count-bg.png') 12;
  padding: 2 4;
}

MxLabel.PengeCountMessageLabel
{
  font-size: 14px;
  font-weight: bold;
  padding: 1 0 0 0;
}

MxLabel.PengeCountAccountLabel
{
  font-size: 13px;
  padding: 1 0 0 0;
}

*#tasks-icon
{
  -mx-content-image: url("tasks-icon.png");
}
