*#people-panel-me-table
{
  padding: 0 40 0 0;
}

*#people-panel-me-avatar-frame
{
  border-image: url("avatar-bg.png") 10;
}

*#people-panel-me-label
{
  font-size: 14;
  padding: 10 0 0 0;
}

*#people-panel-me-presence-message
{
  font-size: 13;
}

*#people-panel-actions-box
{
  padding: 45 0 0 0;
}

/* Anerley */

*#anerley-tile
{
  padding: 8;
}

AnerleyTile *.AnerleyTileAvatar
{
  border-image: url("avatar-bg.png") 8;
}

AnerleyTile *.AnerleyTilePrimaryLabel
{
  font-family: "Open Sans";
  font-size: 14;
}

AnerleyTile *.AnerleyTilePresenceLabel
{
  font-family: "Droid Sans";
  font-size: 13;
  color: #3e3e3eff;
}

AnerleyCompactTile
{
}

AnerleyCompactTile:hover
{
  border-image: url("tile-bg-hover.png") 4;
}

*.AnerleyCompactTileMessageCount
{
  font-family: "Open Sans";
  color: white;
  font-size: 11;
  border-image: url('unread-message-bubble-bg.png') 7;
  padding: 3 7 3 7;
}

.closeButton {
    -mx-content-image: url("../../style/switcher/closebutton-normal.png");
}
.closeButton:hover {
    -mx-content-image: url("../../style/switcher/closebutton-hover.png");
}
.closeButton:active {
    -mx-content-image: url("../../style/switcher/closebutton-pressed.png");
}

