*#people-vbox {
  background-color: #ffff;
  padding: 1 5 5 5;
}

*#people-search {
  border-image: url('people-search-bg.png') 4 stretch;
  padding: 4;
}

*#people-search-label {
  font-family: "Droid Sans";
  font-size: 18px;
  padding-left: 12;
  color: #3e3e3eff;
  font-weight: bold;
}

/* why does people-search-entry no longer work ?*/
*#people-search *.MplEntryButton {
  color: #fba40b;
}

*#people-no-people-message-bin,
*#people-pane-everybody-offline-bin,
*#people-pane-you-offline-bin
{
  border-image: url('grey-backdrop.png') 4;
  padding: 8;
}

*#people-people-pane-main-label,
*#people-pane-everybody-offline-label,
*#people-pane-you-offline-label
{
  font-size:16px;
  font-family: "Droid Sans";
  color: #595959ff;
}

*#people-no-people-description {
  font-size:15px;
  font-family: "Droid Sans";
  color: #2c2c2cff;
}

*#people-no-people-launcher
{
  padding: 9 10 11 10;
}

*#people-no-people-launcher:hover
{
  border-image: url("tile-bg-hover.png") 5 6 7 6;
  padding: 9 10 11 10;
}

/* Anerley */

AnerleyTile *.AnerleyTileAvatar
{
  border-image: url("avatar-bg.png") 5 6 7 6;
  padding: 7 8 9 8;
}

AnerleyTile
{
  padding: 7 8 9 8;
}

AnerleyTile:hover
{
  border-image: url("tile-bg-hover.png") 5 6 7 6;
}

AnerleyTile.AnerleyTileSelected
{
  border-image: url('selected-highlight.png') 5 6 7 6;
}

AnerleyTile *.AnerleyTilePrimaryLabel
{
  font-family: "Droid Sans";
  font-size: 14;
}

AnerleyTile *.AnerleyTileSecondaryLabel
{
  font-family: "Droid Sans";
  font-size: 13;
  color: #3e3e3eff;
}

*#people-primary-action, *#people-secondary-action
{
}

*#completion-scroll-bin
{
  border-image: url('dp-scroll-view-bin-bg.png') 10;
  background-color: #ffffffff;
}

*#clock-tile
{
  border-image: url('dp-scroll-view-bin-bg.png') 10;
  background-color: #7e7e7eff;
}

*#clock-area
{
  background-color: #7e7e7eff;
}


*#completion-list-view
{
  padding: 8
}

*#completion-list-button
{
  padding: 6;
  background-color: #7e7e7eff;
}

*#people-pane-everybody-offline-label,
*#people-pane-you-offline-label
{
  font-size:16px;
  font-family: "Droid Sans";
  color: #595959ff;
}

*#active-content-header
{
  border-image: url('active-conversations-header.png') 1;
  padding: 8;
}

*#people-selection-pane
{
  border-image: url('selection-border.png') 7;
  padding: 8;
}

*#people-selection-label
{
  font-family: "Droid Sans";
  font-size: 16;
  color: #7e7e7eff;
}

*#people-selection-pane AnerleyTile:hover
{
  border-image: none;
}

*#people-control-box
{
  border-image: url('selection-full.png') 5;
  padding-top: 6;
  padding-bottom: 6;
  padding-right: 5;
  padding-left: 6;
}

*#people-nobody-selected
{
  border-image: url('selection-empty.png') 5;
  padding: 6;
}

*#people-nobody-selected-label, *#active-content-header-label
{
  font-family: "Droid Sans";
  font-size: 16;
  color: #7e7e7eff;
}
