*#completion-scroll-bin
{
  border-image: url('dp-scroll-view-bin-bg.png') 10;
  background-color: #ffffffff;
}

*#clock-tile
{
  padding: 4 4;	
  border-image: url('dp-scroll-view-bin-bg.png') 10;
  background-color: #7e7e7eff;
}

*#mnp-tile-date-city
{
  padding: 4 4;	
}

*#mnp-tile-remove-button
{
  padding: 0 0 4 0;	
}

*#clock-area
{
  padding: 10 10;
  background-color: #7e7e7eff;
}

*#mnp-tile-time
{
  padding: 14 0;
  font-size: 16;
  font-family: "Droid Sans";
}

*#mnp-tile-city
{
  padding: 6 0 1 1;
  font-size: 12;
  font-family: "Droid Sans";
}

*#mnp-tile-date
{
  padding: 6 0 1 1;
  font-size: 10;
  font-family: "Droid Sans";
}

*#completion-list-view
{
  padding: 8
}

*#completion-list-button
{
  padding: 6;
  background-color: #7e7e7eff;
}


*.TileRemoveButton,
*.TileRemoveButton:hover,
*.TileRemoveButton:active
{
  border-image:none;
  padding:0;
}

*.TileRemoveButton *.TileIcon
{
  border: 0;
  padding: 0;	
  background-image: url('dismiss_button.png');
}

*.TileRemoveButton:hover *.TileIcon
{
  border: 0;
  padding: 0;		
  background-image: url('dismiss_button_hover.png');
}


