MpdShell {
  background-color: #ecede6;
}

MpdFolderButton {
  border-image: none;
}

MpdComputerTile > MxLabel {
  padding: 10 0 10 0;
}

MpdComputerTile > MxFrame {
  padding:  0 0 0 20;
}

MpdDefaultDeviceTile, MpdStorageDeviceTile {
  padding: 12 0 0 0;
}

MxLabel.message {
  padding: 6 0 0 0;
}

MxIcon#battery-on {
  border-image: none;
  -mx-content-image: url('icon-slider-battery-on.png');
}

MxIcon#battery-off {
  border-image: none;
  -mx-content-image: url('icon-slider-battery-off.png');
}

MxIcon#brightness-on {
  border-image: none;
  -mx-content-image: url('icon-slider-brightness-on.png');
}

MxIcon#brightness-off {
  border-image: none;
  -mx-content-image: url('icon-slider-brightness-off.png');
}

MxIcon#volume-on {
  border-image: none;
  -mx-content-image: url('icon-slider-volume-on.png');
  padding: 0;
}

MxIcon#volume-off {
  border-image: none;
  -mx-content-image: url('icon-slider-volume-off.png');
  padding: 0;
}
