*.AnerleyTileAvatar
{
  border-image: url("avatar_frame.png") 4 4 4 4;
  padding: 2 2 2 2;
}

AnerleyTile
{
  padding: 7 8 9 8;
}

AnerleyTile:hover
{
  padding: 7 8 9 8;
  border-image: url("tile-bg-hover.png") 5 6 7 6;
}

*.AnerleyTilePrimaryLabel
{
  font-family: "Droid Sans";
  font-size: 14;
}

*.AnerleyTileSecondaryLabel
{
  font-family: "Droid Sans";
  font-size: 13;
  color: #3e3e3eff;
}

