SwZone
{
  border-image: url('content-panel-background.png') 4;
  padding: 3;
}

SwZone:active
{
  border-image: url('content-panel-background-highlight-orange.png') 6;
}

SwZone#welcome
{
  border-image: url('background-gradient.png') 6;
}

SwZone#new-zone
{
  /* border-image: url('') 6; */
  /* background-color: #fadc81; */
}

SwZone#focused-zone
{
}

SwWindow
{
  padding: 12;
  border-image: url('app-background-panel.png') 4 4 51 4;
}

SwWindow:hover
{
  border-image: url('app-background-panel-highlight.png') 4 4 51 4;
}

SwWindow#focused-window
{
  /* border-image: url('thumbnail-focused.png') 6; */
}

MxLabel.zone-title
{
  color: #909190;
  padding: 4;
  border-image: url('content-panel-header-grey.png') 4;
  font-size: 16;
  font-weight: bold;
  font-family: "Droid Sans";
}

SwZone#focused-zone > MxLabel.zone-title
{
  color: white;
  padding: 4;
  border-image: url('content-panel-header-orange.png') 4;
}



MxIcon#add-icon
{
  border-image: none;
  -mx-content-image: url('workspace-title-new-symbol-active.png');
}

MxButton
{
  border-image: none;
  -mx-content-image: url('close-button.png');
}

MxButton:hover
{
  border-image: none;
  -mx-content-image: url('close-button-hover.png');
}

MxLabel#welcome-label
{
  font-size: 16;
}

MxLabel#zones-title-label
{
  color: #e87208;
  font-size: 22;
  font-weight: bold;
  padding: 0 0 0 15;
}

MxBoxLayout#zones-panel-toplevel
{
  padding: 5;
}
