/* generic classes */
NbtkTable {
  background-color: #f000;
}

*#time-label {
  color: #c0c0c0;
  font-size: 19px;
}

*#date-label {
  color: #c0c0c0;
  font-size: 11px;
}

/* spaces switcher table */
*#switcher-table {
  background-color: #ffff;
}

*#launcher-table {
  background-color: #ffff;
}

/* apps button */
*#apps-button {
  background-image: url("file://panel/apps-normal.png");
}
*#apps-button:hover {
  background-image: url("file://panel/apps-hover.png");
}
*#apps-button:active {
  background-image: url("file://panel/apps-active.png");
}

/* internet button */
*#internet-button {
  background-image: url("file://panel/internet-normal.png");
}
*#internet-button:hover {
  background-image: url("file://panel/internet-hover.png");
}
*#internet-button:active {
  background-image: url("file://panel/internet-active.png");
}

/* media button */
*#media-button {
  background-image: url("file://panel/media-normal.png");
}
*#media-button:hover {
  background-image: url("file://panel/media-hover.png");
}
*#media-button:active {
  background-image: url("file://panel/media-active.png");
}

/* m-space button */
*#m-space-button {
  background-image: url("file://panel/m-space-normal.png");
}
*#m-space-button:hover {
  background-image: url("file://panel/m-space-hover.png");
}
*#m-space-button:active {
  background-image: url("file://panel/m-space-active.png");
}

/* pasteboard button */
*#pasteboard-button {
  background-image: url("file://panel/pasteboard-normal.png");
}
*#pasteboard-button:hover {
  background-image: url("file://panel/pasteboard-hover.png");
}
*#pasteboard-button:active {
  background-image: url("file://panel/pasteboard-active.png");
}

/* people button */
*#people-button {
  background-image: url("file://panel/people-normal.png");
}
*#people-button:hover {
  background-image: url("file://panel/people-hover.png");
}
*#people-button:active {
  background-image: url("file://panel/people-active.png");
}

/* spaces button */
*#spaces-button {
  background-image: url("file://panel/spaces-normal.png");
}
*#spaces-button:hover {
  background-image: url("file://panel/spaces-hover.png");
}
*#spaces-button:active {
  background-image: url("file://panel/spaces-active.png");
}

/* status button */
*#status-button {
  background-image: url("file://panel/status-normal.png");
}
*#status-button:hover {
  background-image: url("file://panel/status-hover.png");
}
*#status-button:active {
  background-image: url("file://panel/status-active.png");
}

/* tooltips */
NbtkTooltip {
  background-image: url("file://generic/tooltip-background.png");
  border-width: 13 11 13 11;
  color: white;
  font-size: 15px;
}

/* workspace switcher */
*.workspace-title {
  background-image: url("file://switcher/workspace-title.png");
  border-width: 4;
  padding: 4;
  color: white;
}

*#workspace-title-active {
  background-image: url("file://switcher/workspace-title-active.png");
  border-width: 4;
  padding: 4;
  color: white;
}

*.switcher-workspace {
  background-image: url("file://switcher/workspace-background.png");
  border-width: 4;
  padding: 5;
}

*#switcher-workspace-active {
  background-image: url("file://switcher/workspace-background-active.png");
  border-width: 4;
  padding: 5;
}

/* drop down */
*.drop-down-up-button {
  background-image: url("file://drop-down/up-button.png");
}
*.drop-down-up-button:active {
  background-image: url("file://drop-down/up-button-active.png");
}


*.drop-down-footer {
  background-image: url("file://drop-down/footer.png");
  border-width: 5;
  padding: 5;
}

MnbDropDown {
  background-image: url("file://panel/panel-shadow.png");
  border-width: 0 4 37 4;
  padding:  0 4 37 4;
}

}

PengeDateTile, PengeRecentFileTile, PengeFlickrTile, PengeTwitterTile
{
  background-image: url('file://mzone/general-background.png');
  border-width: 16;
}

PengeFlickrTile:hover, PengeTwitterTile:hover, PengeRecentFileTile:hover
{
  background-image: url('file://mzone/general-background-dark.png');
  border-width: 16;
}

PengeDateTile
{
  background-image: url('file://mzone/date-background.png');
  border-width: 16;
}

PengeEventTile:hover
{
  background-image: url('file://mzone/event-background-dark.png');
  border-width: 8;
}

*.PengeDateTileBackground
{
  background-image: url('file://mzone/date-background-background.png');
  border-width: 16;
}

PengePeoplePane
{
  background-image: url('file://mzone/people-background.png');
  border-width: 16;
}

PengeEventsPane, PengeCalendarPane
{
  background-image: url('file://mzone/date-background.png');
  border-width: 16;
}

PengeRecentFilesPane
{
  background-image: url('file://mzone/recent-files-background.png');
  border-width: 16;
}

*.PengeEventTime
{
  background-image: url('file://mzone/time-bg.png');
  color: white;
  font-size:12;
}

*.PengeDayLabel
{
  font-size: 18;
}

*.PengeDateLabel
{
  font-size: 78;
  color: #4eb9f1ff;
}

*.PengePeopleTilePrimaryLabel
{
}

*.PengePeopleTileSecondaryLabel
{
  font-size: 11;
  color: #3a3a3aff;
}

*.PengeTwitterTileText
{
  font-size: 12;
}

*.PengeNoMoreEventsText
{
  font-size: 18;
}

PengeGridView
{
  background-image: url('file://mzone/linus.png');
}

NbtkLabel
{
  font-family: "Liberation Sans";
  font-size: 12;
}
