/* generic classes */
NbtkButton {
  border-image: url("file://generic/button.png") 4 stretch;
  padding: 4;
  font-size: 12px;
  color: #333;
}

NbtkButton:hover {
  border-image: url("file://generic/button_hover.png") 4 stretch;
  padding: 4;
  font-size: 12px;
  color: #fff;
}

NbtkButton:active {
  border-image: url("file://generic/button_active.png") 4 stretch;
  padding: 4;
  font-size: 12px;
  color: #333;
}

NbtkExpander > NbtkButton {
  border-image: url("file://generic/expander-header.png") 4 5 5 4 stretch;
  font-size: 16;
  padding-top: 11;
  padding-bottom: 12;
  padding-left: 40;
}

NbtkExpander > NbtkButton:hover {
  border-image: url("file://generic/expander-header-hover.png") 4 5 5 4 stretch;
}

NbtkScrollView {
  xthickness: 26;
  ythickness: 26;
}

NbtkScrollBar {
  background-color: #e7ebee;
  padding: 3;
}

NbtkScrollBar > *#backward-stepper {
  border-image: url("file://generic/vscroll-backwards.png") 2 4 2 2 stretch stretch;
}

NbtkScrollBar > *#backward-stepper:hover {
  border-image: url("file://generic/vscroll-backwards-hover.png") 2 4 2 2 stretch stretch;
}

NbtkScrollBar > *#forward-stepper {
  border-image: url("file://generic/vscroll-forward.png") 2 4 2 2 stretch stretch;
}

NbtkScrollBar > *#forward-stepper:hover {
  border-image: url("file://generic/vscroll-forward-hover.png") 2 4 2 2 stretch stretch;
}

NbtkScrollBar *#handle {
  border-image: url("file://generic/vscroll-handle.png") 2 4 2 2 stretch stretch;
}

NbtkScrollBar *#handle:hover {
  border-image: url("file://generic/vscroll-handle-hover.png") 2 4 2 2 stretch stretch;
}

NbtkTable {
  background-color: #f000;
}

*#time-label {
  color: #c0c0c0;
  font-size: 19px;
}

*#date-label {
  color: #c0c0c0;
  font-size: 11px;
}

/* spaces switcher table */
*#switcher-table {
  background-color: #ffff;
}

MnbPanelButton:checked {
  border-image: url("file://panel/toolbar-button-active.png") 0 stretch;
}

MnbPanelButton:hover, MnbPanelButton:active {
  border-image: url("file://panel/toolbar-button-hover.png") 0 stretch;
}

/* apps button */
*#apps-button {
  background-image: url("file://panel/apps-normal.png");
}
*#apps-button:hover, *#apps-button:active, *#apps-button:checked  {
  background-image: url("file://panel/apps-coloured.png");
}

/* internet button */
*#internet-button {
  background-image: url("file://panel/internet-normal.png");
}
*#internet-button:hover, *#internet-button:active, *#internet-button:checked {
  background-image: url("file://panel/internet-coloured.png");
}

/* media button */
*#media-button {
  background-image: url("file://panel/media-normal.png");
}
*#media-button:hover, *#media-button:active, *#media-button:checked {
  background-image: url("file://panel/media-coloured.png");
}

/* m-space button */
*#m-space-button {
  background-image: url("file://panel/m_zone-normal.png");
}
*#m-space-button:hover, *#m-space-button:active, *#m-space-button:checked {
  background-image: url("file://panel/m_zone-coloured.png");
}
 
/* pasteboard button */
*#pasteboard-button {
  background-image: url("file://panel/pasteboard-normal.png");
}
*#pasteboard-button:hover, *#pasteboard-button:active, *#pasteboard-button:checked {
  background-image: url("file://panel/pasteboard-coloured.png");
}

/* people button */
*#people-button {
  background-image: url("file://panel/people-normal.png");
}
*#people-button:hover, *#people-button:active, *#people-button:checked {
  background-image: url("file://panel/people-coloured.png");
}

/* spaces button */
*#spaces-button {
  background-image: url("file://panel/spaces-normal.png");
}
*#spaces-button:hover, *#spaces-button:active, *#spaces-button:checked {
  background-image: url("file://panel/spaces-coloured.png");
}

/* status button */
*#status-button {
  background-image: url("file://panel/status-normal.png");
}
*#status-button:hover, *#status-button:active, *#status-button:checked {
  background-image: url("file://panel/status-coloured.png");
}

/* tray buttons */
*#tray-button-test {
  background-image: url("file://panel/tray-normal.png");
}
*#tray-button-test:hover {
  background-image: url("file://panel/tray-hover.png");
}
*#tray-button-test:active {
  background-image: url("file://panel/tray-active.png");
}

*#tray-button-wifi {
  background-image: url("file://panel/tray-normal.png");
}
*#tray-button-wifi:hover {
  background-image: url("file://panel/tray-hover.png");
}
*#tray-button-wifi:active {
  background-image: url("file://panel/tray-active.png");
}

*#tray-button-sound {
  background-image: url("file://panel/tray-normal.png");
}
*#tray-button-sound:hover {
  background-image: url("file://panel/tray-hover.png");
}
*#tray-button-sound:active {
  background-image: url("file://panel/tray-active.png");
}

*#tray-button-bluetooth {
  background-image: url("file://panel/tray-normal.png");
}
*#tray-button-bluetooth:hover {
  background-image: url("file://panel/tray-hover.png");
}
*#tray-button-bluetooth:active {
  background-image: url("file://panel/tray-active.png");
}

*#tray-button-battery {
  background-image: url("file://panel/tray-normal.png");
}
*#tray-button-battery:hover {
  background-image: url("file://panel/tray-hover.png");
}
*#tray-button-battery:active {
  background-image: url("file://panel/tray-active.png");
}

/* tooltips */
NbtkTooltip {
  border-image: url("file://generic/tooltip-background.png")  13 11;
  padding: 13 11;
  color: white;
  font-size: 15px;
}

/* workspace switcher */
*.workspace-title {
  border-image: url("file://switcher/workspace-title.png") 4;
  padding: 4;
  color: white;
}

*#workspace-title-active {
  border-image: url("file://switcher/workspace-title-active.png") 4;
  padding: 4;
  color: white;
}

*.workspace-title-new {
  border-image: url("file://switcher/workspace-title-new.png") 4;
  padding: 4;
  color: white;
}

*#workspace-title-new-active {
  border-image: url("file://switcher/workspace-title-new-active.png") 4;
  padding: 4;
  color: white;
}

*#workspace-title-new-over {
  background-image: url("file://switcher/workspace-title-new-over.png");
  border-width: 4;
  padding: 4;
  color: white;
}

*#workspace-title-new-disabled {
  background-image: url("file://switcher/workspace-title-new-disabled.png");
  border-width: 4;
  padding: 4;
  color: white;
}

*.workspace-title-new-symbol {
}

*#workspace-title-new-symbol-active {
  background-image: url("file://switcher/workspace-title-new-symbol-active.png");
  border-width: 4;
  padding: 4;
  color: white;
}

*#workspace-title-new-symbol-over {
  background-image: url("file://switcher/workspace-title-new-symbol-over.png");
  border-width: 4;
  padding: 4;
  color: white;
}

*#workspace-title-new-symbol-disabled {
  background-image: url("file://switcher/workspace-title-new-symbol-disabled.png");
  border-width: 4;
  padding: 4;
  color: white;
}

*.switcher-workspace {
  border-image: url("file://switcher/workspace-background.png") 4;
  padding: 5;
}

*#switcher-workspace-active {
  border-image: url("file://switcher/workspace-background-active.png") 4;
  padding: 5;
}

*.switcher-workspace-new {
  border-image: url("file://switcher/workspace-background-new.png") 4;
  padding: 5;
}

*#switcher-workspace-new-active {
  border-image: url("file://switcher/workspace-background-new-active.png") 4;
  padding: 5;
}

*#switcher-workspace-new-over {
  background-image: url("file://switcher/workspace-background-new-over.png");
  border-width: 4;
  padding: 5;
}

*#switcher-workspace-new-disabled {
  background-image: url("file://switcher/workspace-background-new-disabled.png");
  border-width: 4;
  padding: 5;
}

*.switcher-application {
  border-image: url("file://switcher/application-inactive.png") 4;
  padding: 2;
}

*#switcher-application-active {
  border-image: url("file://switcher/application-active.png") 4;
  padding: 2;
}

/* drop down */
*.drop-down-up-button {
  border-image: url("file://drop-down/up-button.png") 2 stretch;
}
*.drop-down-up-button:active {
  border-image: url("file://drop-down/up-button-active.png") 2 stretch;
}

*.drop-down-footer {
  border-image: url("file://drop-down/footer.png") 5;
  padding: 5;
}

MnbDropDown, MnbSwitcher {
  border-image: url("file://panel/panel-shadow.png") 0 4 37 4;
  padding: 0 4 37 4;
}

/* launcher  */

*#app-launcher-vbox {
  background-color: #ffff;
  padding: 5;
}

*#app-launcher-search-label {
  background-color: #ffff;
  font-size: 18;
}

*#app-launcher-search-entry {
  border-image: url('file://launcher/launcher-search-bg.png') 5 5 6 5 stretch stretch;
  padding: 4;
}

*.MnbEntryEntry {
  font-size: 18;
}

*.MnbEntryButton {
  border-image: none;
  color: #be1011ff;
  font-size: 18;
}

MnbLauncherButton {
  padding: 10;
}

MnbLauncherButton:hover {
  border-image: url("file://launcher/launcher-hover.png") 5 5 7 5 stretch stretch;
}

MnbLauncherButton > *#launcher-text {
  color: #3b3b3b;
  font-size: 13;
}

MnbLauncherButton > *#launcher-category {
  color: #7e7e7e;
  font-size: 12;
}

MnbLauncherButton > *#launcher-comment {
  color: #a2adb6;
  font-size: 11;
}

/* Penge */

PengeDateTile, PengeRecentFileTile, PengeFlickrTile, PengeTwitterTile, PengeAppTile, PengeLastfmTile
{
  border-image: url('file://mzone/general-background.png') 16;
}

PengeDateTile
{
  border-image: url('file://mzone/date-background.png') 16;
}

PengeEventTile:hover
{
  border-image: url('file://mzone/event-background-dark.png') 8;
}

*.PengeDateTileBackground
{
  border-image: url('file://mzone/date-background-background.png') 16;
}

*.PengeEventTime
{
  border-image: url('file://mzone/time-bg.png') 0;
  color: white;
  font-size:12;
}

*.PengeEventTime:past
{
  border-image: url('file://mzone/time-bg-past.png') 0;
  color: white;
  font-size:12;
}

*.PengeDayLabel
{
  font-size: 18;
}

*.PengeDateLabel
{
  font-size: 78;
  color: #4eb9f1ff;
}

*.PengePeopleTilePrimaryLabel
{
}

*.PengePeopleTileSecondaryLabel
{
  font-size: 11;
  color: #3a3a3aff;
}

*.PengePeopleTilePrimaryLabel:hover, *.PengePeopleTileSecondaryLabel:hover
{
  color: white;
}

*.PengeTwitterTileText
{
  font-size: 12;
}

*.PengeNoMoreEventsText
{
  font-size: 18;
}

*.PengeRecentFileTileDetails
{
  background-color: black;
}

*.PengeRecentFileTileDetailsFilename
{
  color: white;
  font-size: 16;
}

*.PengeRecentFileTileDetailsType
{
  color: white;
  font-size: 14;
}


NbtkLabel
{
  font-family: "Liberation Sans";
  font-size: 12px;
}


MnbNotification
{
  border-image: url('file://notifiers/notification-bg.png') 10 21 33 22;
  padding: 15 26 38 27;
  font-size: 12px;
}

*.notification-control
{
  border-image: url('file://notifiers/notification-bg.png') 10 21 33 22;
  padding: 15 26 38 27;
}

*.NotificationSummary
{
    font-family: "Liberation Sans Bold";
    font-size: 16px;
    color: #009bceff;
}

*.NotificationBody
{
    font-family: "Liberation Sans";
    font-size: 13px;
    color: #333;
}

/* status */

MnbStatusEntry
{
  background-color: #ffffffff;
  padding: 6 15 6 15;
}

MnbStatusEntry:hover
{
  border-image: url("file://status/entry-frame-hover.png") 6;
}

MnbStatusEntry:active
{
  border-image: url("file://status/entry-frame-edit.png") 6;
}

*.MnbStatusEntryText
{
  font-size: 16px;
  color: #595959ff;
}

*.MnbStatusEntrySubText
{
  font-size: 12px;
  font-family: "Liberation Sans Reg Italic";
  color: #7dbe0cff;
}

*.MnbStatusEntryCancel
{
  border-image: none;
  background-image: url("file://status/edit_close.png");
}

*.MnbStatusEntryCancel:hover
{
  border-image: none;
  background-image: url("file://status/edit_close_hover.png");
}

*.MnbStatusEntryButton
{
  border-image: none;
  color: #7dbe0cff;
  font-family: "Liberation Sans Bold";
  font-size: 13px;
  padding: 0;
}

*.MnbStatusPageTable
{
  border-image: url("file://status/decoration-frame.png") 17 stretch;
  padding: 19;
}


*.MnbStatusPageHeader
{
  font-family: "Liberation Sans Bold";
  font-size: 17px;
  color: #3e3e3eff;
  padding: 6;
}
