/* generic classes */
NbtkButton {
  background-color: #fff0;
  border-image: url("file://generic/button.png") 4 stretch;
  padding: 4;
  font-size: 12px;
  color: #333;
}

NbtkButton:hover {
  border-image: url("file://generic/button_hover.png") 4 stretch;
  padding: 4;
  font-size: 12px;
  color: #fff;
}

NbtkButton:active {
  border-image: url("file://generic/button_active.png") 4 stretch;
  padding: 4;
  font-size: 12px;
  color: #333;
}

NbtkEntry:indeterminate {
  color: gray;
}

NbtkScrollView {
  xthickness: 26;
  ythickness: 26;
}

NbtkScrollBar {
  background-color: #e7ebee;
  padding: 3;
}

NbtkScrollBar > *#backward-stepper {
  border-image: url("file://generic/vscroll-backward.png") 2 4 2 2 stretch stretch;
}

NbtkScrollBar > *#backward-stepper:active {
  border-image: url("file://generic/vscroll-backward-hover.png") 2 4 2 2 stretch stretch;
}

NbtkScrollBar > *#forward-stepper {
  border-image: url("file://generic/vscroll-forward.png") 2 4 2 2 stretch stretch;
}

NbtkScrollBar > *#forward-stepper:active {
  border-image: url("file://generic/vscroll-forward-hover.png") 2 4 2 2 stretch stretch;
}

NbtkScrollBar *#handle {
  border-image: url("file://generic/vscroll-handle.png") 2 4 2 2 stretch stretch;
}

NbtkTable {
  background-color: #f000;
}

MnbToolbar > *#time-label {
  color: #c0c0c0;
  font-size: 19px;
}

MnbToolbar > *#date-label {
  color: #c0c0c0;
  font-size: 11px;
}

/* spaces switcher table */
MnbSwitcher > *#switcher-table {
  background-color: #ffff;
  padding: 5;
}

MnbToolbar {
  border-image: url("file://panel/panel-shadow.png") 0 200 0 200 stretch;
}

MnbToolbarButton {
  background-color: #fff0;
}

MnbToolbarButton:checked {
  border-image: url("file://panel/toolbar-button-active.png") 0 stretch;
}

MnbToolbarButton:hover, MnbToolbarButton:active {
  border-image: url("file://panel/toolbar-button-hover.png") 0 stretch;
}

/* Toolbar usage hint */

NbtkBin.toolbar-instruction-box {
 border-image: url("file://panel/toolbar-hint.png") 47 6 6 60;
 padding: 10 10 10 60;
}

NbtkLabel.toolbar-instruction-label {
  font-family: "Liberation Sans";
  font-size: 15px;
  color: white;
}

/* applications button */
MnbToolbarButton#applications-button {
  background-image: url("file://panel/apps-normal.png");
}

MnbToolbarButton#applications-button:hover, MnbToolbarButton#applications-button:active, MnbToolbarButton#applications-button:checked  {
  background-image: url("file://panel/apps-coloured.png");
}

/* internet button */
MnbToolbarButton#internet-button {
  background-image: url("file://panel/internet-normal.png");
}
MnbToolbarButton#internet-button:hover, MnbToolbarButton#internet-button:active, MnbToolbarButton#internet-button:checked {
  background-image: url("file://panel/internet-coloured.png");
}

/* media button */
MnbToolbarButton#media-button {
  background-image: url("file://panel/media-normal.png");
}
MnbToolbarButton#media-button:hover, MnbToolbarButton#media-button:active, MnbToolbarButton#media-button:checked {
  background-image: url("file://panel/media-coloured.png");
}

/* m-space button */
MnbToolbarButton#myzone-button {
  background-image: url("file://panel/myzone-normal.png");
}
MnbToolbarButton#myzone-button:hover, MnbToolbarButton#myzone-button:active, MnbToolbarButton#myzone-button:checked {
  background-image: url("file://panel/myzone-coloured.png");
}

/* pasteboard button */
MnbToolbarButton#pasteboard-button {
  background-image: url("file://panel/pasteboard-normal.png");
}
MnbToolbarButton#pasteboard-button:hover, MnbToolbarButton#pasteboard-button:active, MnbToolbarButton#pasteboard-button:checked {
  background-image: url("file://panel/pasteboard-coloured.png");
}

/* people button */
MnbToolbarButton#people-button {
  background-image: url("file://panel/people-normal.png");
}
MnbToolbarButton#people-button:hover, MnbToolbarButton#people-button:active, MnbToolbarButton#people-button:checked {
  background-image: url("file://panel/people-coloured.png");
}

/* spaces button */
MnbToolbarButton#zones-button {
  background-image: url("file://panel/spaces-normal.png");
}
MnbToolbarButton#zones-button:hover, MnbToolbarButton#zones-button:active, MnbToolbarButton#zones-button:checked {
  background-image: url("file://panel/spaces-coloured.png");
}

/* status button */
MnbToolbarButton#status-button {
  background-image: url("file://panel/status-normal.png");
}
MnbToolbarButton#status-button:hover, MnbToolbarButton#status-button:active, MnbToolbarButton#status-button:checked {
  background-image: url("file://panel/status-coloured.png");
}

/* tooltips */
NbtkTooltip {
  color: white;
  padding: 4 10 12 10;
  background-image: url('file://generic/tooltip-arrow.png');
  border-image: url('file://generic/tooltip-background.png') 4 11 12 11;
  font-size: 15px;
}

/* workspace switcher */
MnbSwitcher *.workspace-title-label {
  font-family: "Liberation Sans Bold";
  font-size: 18;
  color: white;
}

MnbSwitcher *#workspace-no-wins-bin {
  border-image: url('file://generic/placeholder-bg.png') 4 stretch;
  padding: 8;
}

MnbSwitcher *#workspace-no-wins-label {
  font-size:16px;
  color: #595959ff;
}

MnbSwitcher *.workspace-title {
  border-image: url("file://switcher/workspace-title.png") 4;
  padding: 4;
  color: white;
}

MnbSwitcher *#workspace-title-active {
  border-image: url("file://switcher/workspace-title-active.png") 4;
  padding: 4;
  color: white;
}

MnbSwitcher *.workspace-title-new {
  border-image: url("file://switcher/workspace-title-new.png") 4;
  padding: 4;
  color: white;
}

MnbSwitcher *#workspace-title-new-active {
  border-image: url("file://switcher/workspace-title-new-active.png") 4;
  padding: 4;
  color: white;
}

MnbSwitcher *#workspace-title-new-over {
  border-image: url("file://switcher/workspace-title-new-over.png") 4;
  color: white;
}

MnbSwitcher *#workspace-title-new-disabled {
  border-image: url("file://switcher/workspace-title-new-disabled.png") 4;
  padding: 4;
  color: white;
}

MnbSwitcher *.workspace-title-new-symbol {
}

MnbSwitcher *#workspace-title-new-symbol-active {
  border-image: url("file://switcher/workspace-title-new-symbol-active.png") 4;
  padding: 4;
  color: white;
}

MnbSwitcher *#workspace-title-new-symbol-over {
  border-image: url("file://switcher/workspace-title-new-symbol-over.png") 4;
  padding: 4;
  color: white;
}

MnbSwitcher *#workspace-title-new-symbol-disabled {
  border-image: url("file://switcher/workspace-title-new-symbol-disabled.png") 4;
  padding: 4;
  color: white;
}

MnbSwitcherZone.switcher-workspace {
  border-image: url("file://switcher/workspace-background.png") 4;
  padding: 5;
}

MnbSwitcherZone#switcher-workspace-active {
  border-image: url("file://switcher/workspace-background-active.png") 4;
  padding: 5;
}

MnbSwitcherZone.switcher-workspace-new {
  border-image: url("file://switcher/workspace-background-new.png") 4;
  padding: 5;
}

MnbSwitcherZone#switcher-workspace-new-active {
  border-image: url("file://switcher/workspace-background-new-active.png") 4;
  padding: 5;
}

MnbSwitcherZone#switcher-workspace-new-over {
  border-image: url("file://switcher/workspace-background-new-over.png") 4;
  padding: 5;
}

MnbSwitcherZone#switcher-workspace-new-disabled {
  border-image: url("file://switcher/workspace-background-new-disabled.png") 4;
  padding: 5;
}

MnbSwitcherApp.switcher-application {
  border-image: url("file://switcher/application-inactive.png") 4;
  padding: 2;
}

MnbSwitcherApp#switcher-application-active {
  border-image: url("file://switcher/application-active.png") 4;
  padding: 2;
}

/* drop down */
*.drop-down-footer {
  border-image: url("file://drop-down/panel_up_button.png") 5;
  background-image: url("file://drop-down/panel_arrow.png") 5;
  padding: 15;
}

*.drop-down-footer:hover {
  border-image: url("file://drop-down/panel_up_button_hover.png") 5;
  background-image: url("file://drop-down/panel_arrow_hover.png") 5;
  padding: 15;
}

MnbDropDown, MnbSwitcher {
  border-image: url("file://panel/panel-shadow.png") 0 4 37 4;
  padding: 0 4 37 4;
}

MnbEntry {
  border-image: url('file://generic/search-entry-bg.png') 5 5 6 5 stretch stretch;
  padding: 7 10 7 10;
}

MnbEntry > *.MnbEntryEntry {
  border-image: none;
  font-size: 15;
}

MnbEntry *.MnbEntryButton {
  border-image: url('file://generic/search-entry-separator.png') 0 0 0 3 stretch stretch;
  font-size: 13;
  padding: 0 2 0 10;
}

MnbEntry *.MnbEntryClearButton {
  background-image: url('file://generic/search-entry-clear.png');
  border-image: none;
}

MnbEntry *.MnbEntryClearButton:hover {
  background-image: url('file://generic/search-entry-clear-hover.png');
}

/* Penge */

PengeGridView
{
  padding: 6;
}

PengeCalendarPane
{
  border-image: url('file://myzone/backdrop.png') 5 5 5 5;
  padding: 8;
}

PengeAppsPane
{
  border-image: url('file://myzone/backdrop.png') 5 5 5 5;
  padding: 4;
}

PengeCalendarPane > *.PengeCalendarPaneTitle
{
  font-size: 17;
  color: #3e3e3eff;
}

PengeEventTile, PengeTaskTile, PengeAppTile
{
  background-color: #fff0;
  padding: 9 10 11 10;
}

PengeEventTile:hover, PengeTaskTile:hover, PengeAppTile:hover
{
  border-image: url('file://myzone/tile-partial-glow.png') 7 8 9 8;
}


PengeRecentFileTile, PengeTwitterTile, PengeFlickrTile, PengeLastfmTile, PengeMyspaceTile
{
  border-image: url('file://myzone/tile-bg.png') 7 8 9 8;
  padding: 6 7 8 7;
}


PengeRecentFileTile:hover, PengeTwitterTile:hover, PengeFlickrTile:hover, PengeLastfmTile:hover, PengeMyspaceTile:hover
{
  border-image: url('file://myzone/tile-glow.png') 7 8 9 8;
  padding: 6 7 8 7;
}

PengeTaskTile > *.PengeTaskToggleButton
{
  border-image: url('file://myzone/check_box.png') 0;
}

PengeTaskTile > *.PengeTaskToggleButton:hover, PengeTaskTile > *.PengeTaskToggleButton:checked
{
  border-image: url('file://myzone/checked_box.png') 0;
}

PengeDateTile
{
  border-image: url('file://myzone/date-background.png') 16;
}

PengeEventTile *.PengeEventTimeLabel
{
  color: white;
  font-size:12;
  padding: 8;
}

PengeDateTile *.PengeDateTileBackground
{
  border-image: url('file://myzone/date-background-background.png') 16;
}

PengeEventTile *.PengeEventTimeLabel:past
{
  color: white;
  font-size:12;
  padding: 8;
}

PengeEventTile *.PengeEventTimeBin
{
  border-image: url('file://myzone/time-bg.png') 0;
}

PengeEventTile *.PengeEventTimeBin:past
{
  border-image: url('file://myzone/time-bg-past.png') 0;
}

PengeDateTile *.PengeDayLabel
{
  font-size: 18;
}

PengeDateTile *.PengeDateLabel
{
  font-size: 78;
  color: #4eb9f1ff;
}

PengePeopleTile *.PengePeopleTilePrimaryLabel
{
}

PengePeopleTile *.PengePeopleTileSecondaryLabel
{
  font-size: 11;
  color: #3a3a3aff;
}

NbtkLabel.PengePeopleTilePrimaryLabel:hover, NbtkLabel.PengePeopleTileSecondaryLabel:hover
{
  color: white;
}

PengeTwitterTile *.PengeTwitterTileText, PengeMyspaceTile *.PengeMyspaceTileText
{
  font-size: 12;
}

PengeTwitterTile *.PengeTwitterTileBackground, PengeMyspaceTile *.PengeMyspaceTileBackground
{
  border-image: url('file://myzone/quotebackground.png') 45 51 46 52;
  padding: 8;
}

PengeEventsPane *.PengeNoMoreEventsLabel, PengeTasksPane *.PengeNoMoreTasksLabel
{
  font-size: 16;
  color: #2c2c2cff;
}

PengeRecentFileTile NbtkTable.PengeRecentFileTileDetails, NbtkTable.PengePeopleTileDetails
{
  background-color: black;
  padding: 2;
}

PengeRecentFileTile *.PengeRecentFileTileDetailsFilename
{
  color: white;
  font-size: 12;
}

PengeRecentFileTile *.PengeRecentFileTileDetailsType
{
  color: white;
  font-size: 11;
}

NbtkTable.PengeNoContentTile *#penge-no-content-main-message
{
  font-size:15px;
  color: #2c2c2cff;
}

NbtkTable.PengeNoContentTile *#penge-no-content-other-message
{
  font-size:14px;
  color: #2c2c2cff;
}

NbtkTable.PengeNoContentTile
{
  border-image: url('file://myzone/no-content-tile-bg.png') 7 8 9 8;
  padding: 10 11 12 11;
}

NbtkTable.PengeNoContentTile:hover
{
  border-image: url('file://myzone/no-content-tile-glow-bg.png') 7 8 9 8;
  padding: 10 11 12 11;
}

NbtkTable.PengeWelcomeTile
{
  border-image: url('file://myzone/backdrop.png') 5 5 5 5;
  padding: 6;
}

NbtkTable.PengeWelcomeTile *#penge-welcome-primary-text
{
  color: #009bceff;
  font-size:19px;
}

NbtkTable.PengeWelcomeTile *#penge-welcome-secondary-text
{
  font-size:14px;
  color: #2c2c2cff;
}

PengeRecentFileTile:hover, PengeTwitterTile:hover, PengeFlickrTile:hover, PengeLastfmTile:hover, PengeMyspaceTile:hover
{
  border-image: url('file://myzone/tile-glow.png') 7 8 9 8;
  padding: 6 7 8 7;
}

NbtkLabel
{
  font-family: "Liberation Sans";
  font-size: 12px;
}


MnbNotification
{
  border-image: url('file://notifiers/notification-bg.png') 10 21 33 22;
  padding: 15 26 38 27;
  font-size: 12px;
}

MnbNotificationCluster *.notification-control
{
  border-image: url('file://notifiers/notification-bg.png') 10 21 33 22;
  padding: 15 26 38 27;
}

MnbNotification > *.NotificationSummary
{
    font-family: "Liberation Sans Bold";
    font-size: 16px;
    color: #009bceff;
}

MnbNotification > *.NotificationSummaryUrgent
{
    font-family: "Liberation Sans Bold";
    font-size: 16px;
    color: #e73035ff;
}


MnbNotification > *.NotificationBody
{
    font-family: "Liberation Sans";
    font-size: 13px;
    color: #333;
}

/* status */

MnbStatusEntry
{
  background-color: #ffffffff;
  padding: 6 15 6 15;
}

MnbStatusEntry:hover
{
  border-image: url("file://status/entry-frame-hover.png") 6;
}

MnbStatusEntry:active
{
  border-image: url("file://status/entry-frame-edit.png") 6;
}

MnbStatusEntry > *.MnbStatusEntryText
{
  font-size: 16px;
  color: #595959ff;
  border-image: none;
}

MnbStatusEntry > *.MnbStatusEntrySubText
{
  font-size: 12px;
  font-family: "Liberation Sans Reg Italic";
  color: #7dbe0cff;
}

MnbStatusEntry > *.MnbStatusEntryCancel
{
  border-image: none;
  background-image: url("file://status/edit_close.png");
}

MnbStatusEntry > *.MnbStatusEntryCancel:hover
{
  border-image: none;
  background-image: url("file://status/edit_close_hover.png");
}

MnbStatusEntry > *.MnbStatusEntryButton
{
  border-image: none;
  color: #7dbe0cff;
  font-family: "Liberation Sans Bold";
  font-size: 13px;
  padding: 0;
}

*.MnbStatusPageTable
{
  border-image: url("file://status/decoration-frame.png") 17 stretch;
  padding: 19;
}


*.MnbStatusPageHeader
{
  font-family: "Liberation Sans Bold";
  font-size: 18px;
  color: #3e3e3eff;
  padding: 6;
}

*.status-empty-bin {
  border-image: url('file://generic/placeholder-bg.png') 4 stretch;
  padding: 8;
}

*.status-empty-label {
  font-family: "Liberation Sans";
  font-size: 16px;
  color: #595959ff;
}

/* Internet panel */

MoblinNetbookNetpanel
{
  background-color: #ffffff;
  padding: 6;
}

*#netpanel-subtable NbtkLabel
{
  font-family: "Liberation Sans";
  font-size: 13px;
  color: #6e6e6e;
  padding: 0 4;
}

*#netpanel-subtable NbtkLabel#section
{
  font-family: "Liberation Sans Bold";
  font-size: 15px;
  color: #6e6e6e;
  padding: 2 4 0 4;
}

*#netpanel-placeholder-bin *#netpanel-placeholder-label
{
  font-family: "Liberation Sans";
  font-size: 16px;
  color: #595959ff;
  padding: 0 4;
}

MoblinNetbookNetpanel *#netpanel-placeholder-bin
{
  border-image: url('file://generic/placeholder-bg.png') 4 stretch;
  padding: 8;
}

/* Overrode MnbEntry so we need to redeclare its styles apparently */
MnbNetpanelBar {
  border-image: url('file://generic/search-entry-bg.png') 5 5 6 5 stretch stretch;
  padding: 7 10 7 10;
}

MnbNetpanelBar > *.MnbEntryEntry {
  border-image: none;
  font-size: 15;
}

MnbNetpanelBar *.MnbEntryButton {
  border-image: url('file://generic/search-entry-separator.png') 0 0 0 3 stretch stretch;
  font-size: 13;
  padding: 0 2 0 10;
}

MnbNetpanelBar *.MnbEntryClearButton {
  background-image: url('file://generic/search-entry-clear.png');
  border-image: none;
}

MnbNetpanelBar *.MnbEntryClearButton:hover {
  background-image: url('file://generic/search-entry-clear-hover.png');
}

MwbAcList {
  padding: 2 8;
  border-image: url('file://netpanel/ac-list.png') 5;
  color: #59457a; /* search match color */
}

MwbAcList > NbtkLabel {
  padding: 8 0 8 8;
}

MwbAcList > MwbSeparator {
  color: #ededed;
}

MwbAcList > NbtkBin { /* highlight color */
  background-color: #ded5ed;
}

MoblinNetbookNetpanel NbtkButton {
  border-image: url("file://netpanel/thumbnail.png") 7 8 9;
  padding: 7 8 9;
  color: #4e3972;
}

MoblinNetbookNetpanel NbtkButton:hover {
  border-image: url("file://netpanel/thumbnail_hover.png") 7 8 9;
  padding: 7 8 9;
  color: #c5a3fc;
}

MoblinNetbookNetpanel NbtkButton:active {
  border-image: url("file://netpanel/thumbnail_hover.png") 7 8 9;
  padding: 7 8 9;
}

MoblinNetbookNetpanel *#netpanel-entrytable
{
  background-color: #F5F2FD;
  padding: 6 24;
}

MoblinNetbookNetpanel *#netpanel-entrytable > NbtkLabel
{
  font-family: "Liberation Sans Bold";
  font-size: 18px;
  color: #3e3e3eff;
  padding: 0 12 0 0;
}

MoblinNetbookNetpanel *#netpanel-entrytable NbtkButton
{
  color: #4e3972;
}

MoblinNetbookNetpanel *#netpanel-entrytable NbtkButton:hover
{
  color: #c5a3fc;
}

/* Media panel */

AhoghillGridView {
  background-color: #ffff;
  padding: 5;
}

AhoghillSearchPane#media-pane-search {
  border-image: url('file://media-panel/media_search_bkgrd.png') 4 stretch;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
}

AhoghillSearchPane > *#media-pane-search-label {
  font-family: "Liberation Sans Bold";
  font-size: 18px;
  padding-left: 12;
  color: #3e3e3eff;
}

*#media-pane-search-entry *.MnbEntryButton {
  color: #3e42ac;
}

AhoghillResultsPane {
  padding-left: 14px;
  padding-right: 0px;
  padding-top: 14px;
  padding-bottom: 14px;
}

AhoghillResultsPane > *#media-pane-results-label {
  font-family: "Liberation Sans Bold";
  font-size: 14;
  color: #7e7e7e;
}

AhoghillResultsTable {
  padding: 0px;
}

AhoghillMediaTile {
}

AhoghillMediaArt {
  border-image: url("file://media-panel/thumbnail.png") 7 12 12 10 stretch;
}

AhoghillMediaArt:hover {
  border-image: url("file://media-panel/thumbnail_hover.png") 7 12 12 10 stretch;
}

AhoghillMediaTile >*#media-tile-title-label {
  font-size: 13px;
  color: #3b3b3b;
}

AhoghillMediaTile > *#media-tile-artist-label {
  font-size: 12px;
  color: #7e7e7e;
}

AhoghillQueueTile > *.AhoghillPrimaryLabel {
  font-family: "Liberation Sans Bold";
  font-size: 13px;
  color:#3b3b3b;
}

AhoghillQueueTile > *.AhoghillSecondaryLabel {
  font-size: 12px;
  color: #7e7e7e;
}

AhoghillPlaylistHeader {
  padding: 4;
}

AhoghillPlaylistHeader.Top {
  border-image: url('file://media-panel/top_playque_selected.png') 5 5 5 0 stretch;
}

NbtkButton.AhoghillControlButton {
  padding: 4px;
  font-size: 12px;
  color: 333;
}

AhoghillPlaylistHeader > *#ahoghill-playlist-title {
  font-family: "Liberation Sans Bold";
  font-size: 17px;
  color: #3b3b3b;
}

AhoghillPlaylistHeader > *#ahoghill-playlist-header-primary {
  font-family: "Liberation Sans Bold";
  font-size: 15px;
  color: #3b3b3b;
}

AhoghillPlaylistHeader > *#ahoghill-playlist-header-secondary {
  font-size: 12px;
  color: #3b3b3b;
}

AhoghillPlayButton {
  background-image: url('file://media-panel/pq_play.png');
}

AhoghillPlayButton:hover {
  background-image: url('file://media-panel/pq_play_hover.png');
}

AhoghillPlayButton.Toggled {
  background-image: url('file://media-panel/pq_pause.png');
}

AhoghillPlayButton.Toggled:hover {
  background-image: url('file://media-panel/pq_pause_hover.png');
}

AhoghillQueueList {
  border-image: url('file://media-panel/playque_background.png') 5 stretch;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}


NbtkScrollBar.AhoghillProgressBar {
  border-image: url('file://media-panel/hrn-progress-bar-through.png') 2;
  background: #00000000;
  padding: 0;
}

NbtkScrollBar.AhoghillProgressBar > *#backward-stepper,
NbtkScrollBar.AhoghillProgressBar > *#forward-stepper
{
  border-image: none;
  background-image: none;
}

NbtkScrollBar.AhoghillProgressBar *#handle
{
  border-image: none;
  background-image: url("file://media-panel/hrn-progress-bar-handle.png");
}

NbtkScrollBar.AhoghillProgressBar *#handle:hover
{
  border-image: none;
  background-image: url("file://media-panel/hrn-progress-bar-handle.png");
}

AhoghillPlaylistPlaceholder {
  background-image: url("file://media-panel/playqueue-placeholder.png");
}

AhoghillExampleTable *.AhoghillExampleTextBin {
  border-image: url('file://generic/placeholder-bg.png') 4 stretch;
  padding: 8;
}

AhoghillExampleTable *.AhoghillExampleText {
  font-family: "Liberation Sans";
  font-size: 16px;
  color: #595959ff;
}


/* pasteboard */

*#pasteboard-vbox {
  background-color: #ffff;
  padding: 5;
}

*#pasteboard-search {
  border-image: url('file://pasteboard/pasteboard-search-bg.png') 4 stretch;
  padding: 4;
}

*#pasteboard-search-label {
  font-family: "Liberation Sans Bold";
  font-size: 18px;
  padding-left: 12;
  color: #3e3e3eff;
}

*#pasteboard-search-entry *.MnbEntryButton {
  color: #027061;
}

*.pasteboard-empty-bin {
  border-image: url('file://generic/placeholder-bg.png') 4 stretch;
  padding: 8;
}

*.pasteboard-empty-label {
  font-family: "Liberation Sans";
  font-size: 16px;
  color: #595959ff;
}

*#pasteboard-items-list {
  border-image: url('file://pasteboard/pasteboard-items-list-bg.png') 10 stretch;
  padding: 10;
}

*#pasteboard-controls {
  border-image: url('file://pasteboard/pasteboard-items-list-bg.png') 10 stretch;
  padding: 12;
}

*#pasteboard-controls NbtkButton {
  font-family: "Liberation Sans";
  font-size: 13px;
  color: #027061;
  padding: 4 8 4 8;
}

MnbClipboardItem {
  padding: 4;
}

MnbClipboardItem > *.MnbClipboardItemDeleteButton {
  border-image: url('file://pasteboard/pasteboard-delete-bg.png') 4 stretch;
  padding: 4;
}

MnbClipboardItem > *.MnbClipboardItemCopyButton {
  font-family: "Liberation Sans";
  font-size: 13;
  color: #027061;
  padding: 4 8 4 8;
}

/* zone switching effect */
/* FIME -- should subclass to avoid this broad selection. */
NbtkBin#zone-switch-background {
  border-image: url("file://effects/zone-switch-background.png") 0 stretch stretch;
}

NbtkTable#zone-switch-strip {
  /* uses same assets as the chooser */
  border-image: url("file://chooser/background.png") 11 11 11 11 stretch stretch;
  /* should match the column spacing, currently not themable. */
  padding: 60;
}

/* people */

*#people-vbox {
  background-color: #ffff;
  padding: 5;
}

*#people-search {
  border-image: url('file://people/people-search-bg.png') 4 stretch;
  padding: 4;
}

*#people-search-label {
  font-family: "Liberation Sans Bold";
  font-size: 18px;
  padding-left: 12;
  color: #3e3e3eff;
}

/* why does people-search-entry no longer work ?*/
*#people-search *.MnbEntryButton {
  color: #fba40b;
}

*#people-no-people-message-bin {
  border-image: url('file://people/grey-backdrop.png') 4 stretch;
  padding: 8;
}

*#people-people-pane-main-label {
  font-size:16px;
  color: #595959ff;
}

*#people-no-people-description {
  font-size:15px;
  color: #2c2c2cff;
}

*#people-no-people-launcher
{
  padding: 9 10 11 10;
}

*#people-no-people-launcher:hover
{
  border-image: url("file://people/tile-bg-hover.png") 5 6 7 6;
  padding: 9 10 11 10;
}

/* Anerley */

AnerleyTile *.AnerleyTileAvatar
{
  border-image: url("file://people/avatar-bg.png") 7 8 9 8;
  padding: 9 10 11 10;
}

AnerleyTile
{
  padding: 7 8 9 8;
}

AnerleyTile:hover
{
  border-image: url("file://people/tile-bg-hover.png") 5 6 7 6;
}

AnerleyTile.AnerleyTileSelected
{
  border-image: url('file://people/people-search-bg.png') 4 stretch;
  padding: 7 8 9 8;
}

AnerleyTile *.AnerleyTilePrimaryLabel
{
  font-family: "Liberation Sans";
  font-size: 14;
}

AnerleyTile *.AnerleyTileSecondaryLabel
{
  font-family: "Liberation Sans";
  font-size: 13;
  color: #3e3e3eff;
}

*#people-primary-action, *#people-secondary-action
{
  font-size: 18px;
  padding-top: 8;
  padding-bottom: 8;
}


