/* generic classes */
NbtkButton {
  border-image: url("file://generic/button.png") 4 stretch;
  padding: 4;
  font-size: 12px;
  color: #333;
}

NbtkButton:hover {
  border-image: url("file://generic/button_hover.png") 4 stretch;
  padding: 4;
  font-size: 12px;
  color: #fff;
}

NbtkButton:active {
  border-image: url("file://generic/button_active.png") 4 stretch;
  padding: 4;
  font-size: 12px;
  color: #333;
}

NbtkEntry:indeterminate {
  color: gray;
}

/*
 * Expander
 */

/* Header */
MnbExpander NbtkButton#mnb-expander-header {
  border-image: url("file://generic/expander-header.png") 4 5 5 4 stretch;
  border-spacing: 10;
  font-family: "Liberation Sans Bold";
  font-size: 18;
  padding-top: 11;
  padding-bottom: 12;
  padding-left: 10;
}
MnbExpander NbtkButton#mnb-expander-header:checked {
  border-image: url("file://generic/expander-header-expanded.png") 4 5 5 4 stretch;
}
MnbExpander NbtkButton#mnb-expander-header:hover {
  border-image: url("file://generic/expander-header-hover.png") 4 5 5 4 stretch;
}

/* Icon */
MnbExpander *#mnb-expander-header-icon {
  background-image: url("file://generic/expander-icon.png");
}
MnbExpander *#mnb-expander-header-icon:hover {
  background-image: url("file://generic/expander-icon-hover.png");
}
MnbExpander *#mnb-expander-header-icon:checked {
  background-image: url("file://generic/expander-icon-checked.png");
}

/* Payload container */
MnbExpander NbtkBin#mnb-expander-body {
  border-image: url("file://generic/expander-body.png") 2 10 8 8 stretch;
}

NbtkScrollView {
  xthickness: 26;
  ythickness: 26;
}

NbtkScrollBar {
  background-color: #e7ebee;
  padding: 3;
}

NbtkScrollBar > *#backward-stepper {
  border-image: url("file://generic/vscroll-backward.png") 2 4 2 2 stretch stretch;
}

NbtkScrollBar > *#backward-stepper:active {
  border-image: url("file://generic/vscroll-backward-hover.png") 2 4 2 2 stretch stretch;
}

NbtkScrollBar > *#forward-stepper {
  border-image: url("file://generic/vscroll-forward.png") 2 4 2 2 stretch stretch;
}

NbtkScrollBar > *#forward-stepper:active {
  border-image: url("file://generic/vscroll-forward-hover.png") 2 4 2 2 stretch stretch;
}

NbtkScrollBar *#handle {
  border-image: url("file://generic/vscroll-handle.png") 2 4 2 2 stretch stretch;
}

NbtkTable {
  background-color: #f000;
}

*#time-label {
  color: #c0c0c0;
  font-size: 19px;
}

*#date-label {
  color: #c0c0c0;
  font-size: 11px;
}

/* spaces switcher table */
*#switcher-table {
  background-color: #ffff;
  padding: 5;
}

MnbPanelButton:checked {
  border-image: url("file://panel/toolbar-button-active.png") 0 stretch;
}

MnbPanelButton:hover, MnbPanelButton:active {
  border-image: url("file://panel/toolbar-button-hover.png") 0 stretch;
}

/* apps button */
*#apps-button {
  background-image: url("file://panel/apps-normal.png");
}
*#apps-button:hover, *#apps-button:active, *#apps-button:checked  {
  background-image: url("file://panel/apps-coloured.png");
}

/* internet button */
*#internet-button {
  background-image: url("file://panel/internet-normal.png");
}
*#internet-button:hover, *#internet-button:active, *#internet-button:checked {
  background-image: url("file://panel/internet-coloured.png");
}

/* media button */
*#media-button {
  background-image: url("file://panel/media-normal.png");
}
*#media-button:hover, *#media-button:active, *#media-button:checked {
  background-image: url("file://panel/media-coloured.png");
}

/* m-space button */
*#m-space-button {
  background-image: url("file://panel/m_zone-normal.png");
}
*#m-space-button:hover, *#m-space-button:active, *#m-space-button:checked {
  background-image: url("file://panel/m_zone-coloured.png");
}

/* pasteboard button */
*#pasteboard-button {
  background-image: url("file://panel/pasteboard-normal.png");
}
*#pasteboard-button:hover, *#pasteboard-button:active, *#pasteboard-button:checked {
  background-image: url("file://panel/pasteboard-coloured.png");
}

/* people button */
*#people-button {
  background-image: url("file://panel/people-normal.png");
}
*#people-button:hover, *#people-button:active, *#people-button:checked {
  background-image: url("file://panel/people-coloured.png");
}

/* spaces button */
*#spaces-button {
  background-image: url("file://panel/spaces-normal.png");
}
*#spaces-button:hover, *#spaces-button:active, *#spaces-button:checked {
  background-image: url("file://panel/spaces-coloured.png");
}

/* status button */
*#status-button {
  background-image: url("file://panel/status-normal.png");
}
*#status-button:hover, *#status-button:active, *#status-button:checked {
  background-image: url("file://panel/status-coloured.png");
}

/* tooltips */
NbtkTooltip {
  color: white;
  padding: 4 10 12 10;
  background-image: url('file://generic/tooltip-arrow.png');
  border-image: url('file://generic/tooltip-background.png') 4 11 12 11;
  font-size: 15px;
}

/* workspace switcher */
*.workspace-title-label {
  color: white;
}

*.workspace-title {
  border-image: url("file://switcher/workspace-title.png") 4;
  padding: 4;
  color: white;
}

*#workspace-title-active {
  border-image: url("file://switcher/workspace-title-active.png") 4;
  padding: 4;
  color: white;
}

*.workspace-title-new {
  border-image: url("file://switcher/workspace-title-new.png") 4;
  padding: 4;
  color: white;
}

*#workspace-title-new-active {
  border-image: url("file://switcher/workspace-title-new-active.png") 4;
  padding: 4;
  color: white;
}

*#workspace-title-new-over {
  border-image: url("file://switcher/workspace-title-new-over.png") 4;
  color: white;
}

*#workspace-title-new-disabled {
  border-image: url("file://switcher/workspace-title-new-disabled.png") 4;
  padding: 4;
  color: white;
}

*.workspace-title-new-symbol {
}

*#workspace-title-new-symbol-active {
  border-image: url("file://switcher/workspace-title-new-symbol-active.png") 4;
  padding: 4;
  color: white;
}

*#workspace-title-new-symbol-over {
  border-image: url("file://switcher/workspace-title-new-symbol-over.png") 4;
  padding: 4;
  color: white;
}

*#workspace-title-new-symbol-disabled {
  border-image: url("file://switcher/workspace-title-new-symbol-disabled.png") 4;
  padding: 4;
  color: white;
}

*.switcher-workspace {
  border-image: url("file://switcher/workspace-background.png") 4;
  padding: 5;
}

*#switcher-workspace-active {
  border-image: url("file://switcher/workspace-background-active.png") 4;
  padding: 5;
}

*.switcher-workspace-new {
  border-image: url("file://switcher/workspace-background-new.png") 4;
  padding: 5;
}

*#switcher-workspace-new-active {
  border-image: url("file://switcher/workspace-background-new-active.png") 4;
  padding: 5;
}

*#switcher-workspace-new-over {
  border-image: url("file://switcher/workspace-background-new-over.png") 4;
  padding: 5;
}

*#switcher-workspace-new-disabled {
  border-image: url("file://switcher/workspace-background-new-disabled.png") 4;
  padding: 5;
}

*.switcher-application {
  border-image: url("file://switcher/application-inactive.png") 4;
  padding: 2;
}

*#switcher-application-active {
  border-image: url("file://switcher/application-active.png") 4;
  padding: 2;
}

/* drop down */
*.drop-down-up-button {
  border-image: url("file://drop-down/up-button.png") 2 stretch;
}
*.drop-down-up-button:active {
  border-image: url("file://drop-down/up-button-active.png") 2 stretch;
}
*.drop-down-up-button:hover {
  border-image: url("file://drop-down/up-button-hover.png") 2 stretch;
}

*.drop-down-footer {
  border-image: url("file://drop-down/footer.png") 5;
  padding: 5;
}

MnbDropDown, MnbSwitcher {
  border-image: url("file://panel/panel-shadow.png") 0 4 37 4;
  padding: 0 4 37 4;
}

MnbEntry {
  border-image: url('file://launcher/launcher-search-entry-bg.png') 5 5 6 5 stretch stretch;
  padding: 7 10 7 10;
}

*.MnbEntryEntry {
  font-size: 15;
}

*.MnbEntryButton {
  border-image: url('file://launcher/launcher-search-entry-separator.png') 0 0 0 1 stretch stretch;
  font-size: 13;
  padding: 0 2 0 10;
}

*.MnbEntryClearButton {
  background-image: url('file://launcher/launcher-search-entry-clear.png');
  border-image: none;
}

*.MnbEntryClearButton:hover {
  background-image: url('file://launcher/launcher-search-entry-clear-hover.png');
}

/* launcher  */

*#launcher-vbox {
  background-color: #ffff;
  padding: 5;
}

*#launcher-filter-pane {
  border-image: url('file://launcher/launcher-search-bg.png') 4 stretch;
  padding: 4;
}

*#launcher-filter-label {
  font-family: "Liberation Sans Bold";
  font-size: 18;
  padding-left: 12;
}

*#launcher-group-label {
  font-family: "Liberation Sans Bold";
  font-size: 14;
  color: #7e7e7e;
  padding: 12 12 6 12;
}

*#launcher-fav-grid {
  padding-left: 18;
}

*#launcher-apps-grid {
  padding-left: 0;
  padding-top: 12;
}

*#launcher-expander-grid {
  padding: 8 5 10 10;
}

*#launcher-filter-pane *.MnbEntryButton {
  color: #be1011;
}

MnbLauncherButton {
  padding: 10;
  padding-top: 17;
}

MnbLauncherButton:hover {
  border-image: url("file://launcher/launcher-hover.png") 4 6 6 4 stretch stretch;
}

*#mnb-launcher-button-title {
  color: #3b3b3b;
  font-size: 13;
}

*#mnb-launcher-button-description {
  color: #7e7e7e;
  font-size: 12;
}

*#mnb-launcher-button-comment {
  color: #a2adb6;
  font-size: 11;
}

*#mnb-launcher-button-fav-toggle {
  background-image: url("file://launcher/launcher-button-fav-toggle.png");
  border-image: none;
}

*#mnb-launcher-button-fav-toggle:checked {
  background-image: url("file://launcher/launcher-button-fav-toggle-checked.png");
}

*#mnb-launcher-button-fav-toggle:hover {
  background-image: url("file://launcher/launcher-button-fav-toggle-hover.png");
}

/* Penge */

PengeGridView
{
  padding: 6;
}

PengeCalendarPane, PengeAppsPane
{
  border-image: url('file://mzone/backdrop.png') 5 5 5 5;
  padding: 8;
}

*.PengeCalendarPaneTitle
{
  font-size: 17;
  color: #3e3e3eff;
}

PengeEventTile, PengeTaskTile, PengeAppTile
{
  padding: 9 10 11 10;
}

PengeEventTile:hover, PengeTaskTile:hover, PengeAppTile:hover
{
  border-image: url('file://mzone/tile-partial-glow.png') 7 8 9 8;
}


PengeRecentFileTile, PengeTwitterTile, PengeFlickrTile, PengeLastfmTile
{
  border-image: url('file://mzone/tile-bg.png') 7 8 9 8;
  padding: 6 7 8 7;
}


PengeRecentFileTile:hover, PengeTwitterTile:hover, PengeFlickrTile:hover, PengeLastfmTile:hover
{
  border-image: url('file://mzone/tile-glow.png') 7 8 9 8;
  padding: 6 7 8 7;
}

*.PengeTaskToggleButton
{
  border-image: url('file://mzone/check_box.png') 0;
}

*.PengeTaskToggleButton:hover, *.PengeTaskToggleButton:checked
{
  border-image: url('file://mzone/checked_box.png') 0;
}

PengeDateTile
{
  border-image: url('file://mzone/date-background.png') 16;
}

*.PengeDateTileBackground
{
  border-image: url('file://mzone/date-background-background.png') 16;
}

*.PengeEventTimeLabel
{
  color: white;
  font-size:12;
  padding: 8;
}

*.PengeEventTimeLabel:past
{
  color: white;
  font-size:12;
  padding: 8;
}

*.PengeEventTimeBin
{
  border-image: url('file://mzone/time-bg.png') 0;
}

*.PengeEventTimeBin:past
{
  border-image: url('file://mzone/time-bg-past.png') 0;
}

*.PengeDayLabel
{
  font-size: 18;
}

*.PengeDateLabel
{
  font-size: 78;
  color: #4eb9f1ff;
}

*.PengePeopleTilePrimaryLabel
{
}

*.PengePeopleTileSecondaryLabel
{
  font-size: 11;
  color: #3a3a3aff;
}

*.PengePeopleTilePrimaryLabel:hover, *.PengePeopleTileSecondaryLabel:hover
{
  color: white;
}

*.PengeTwitterTileText
{
  font-size: 12;
}

*.PengeTwitterTileBackground
{
  border-image: url('file://mzone/quotebackground.png') 45 51 46 52;
  padding: 8;
}

*.PengeNoMoreEventsLabel, *.PengeNoMoreTasksLabel
{
  font-size: 16;
  color: #2c2c2cff;
}

*.PengeRecentFileTileDetails, *.PengePeopleTileDetails
{
  background-color: black;
  padding: 2;
}

*.PengeRecentFileTileDetailsFilename
{
  color: white;
  font-size: 12;
}

*.PengeRecentFileTileDetailsType
{
  color: white;
  font-size: 11;
}


NbtkLabel
{
  font-family: "Liberation Sans";
  font-size: 12px;
}


MnbNotification
{
  border-image: url('file://notifiers/notification-bg.png') 10 21 33 22;
  padding: 15 26 38 27;
  font-size: 12px;
}

*.notification-control
{
  border-image: url('file://notifiers/notification-bg.png') 10 21 33 22;
  padding: 15 26 38 27;
}

*.NotificationSummary
{
    font-family: "Liberation Sans Bold";
    font-size: 16px;
    color: #009bceff;
}

*.NotificationSummaryUrgent
{
    font-family: "Liberation Sans Bold";
    font-size: 16px;
    color: #e73035ff;
}


*.NotificationBody
{
    font-family: "Liberation Sans";
    font-size: 13px;
    color: #333;
}

/* status */

MnbStatusEntry
{
  background-color: #ffffffff;
  padding: 6 15 6 15;
}

MnbStatusEntry:hover
{
  border-image: url("file://status/entry-frame-hover.png") 6;
}

MnbStatusEntry:active
{
  border-image: url("file://status/entry-frame-edit.png") 6;
}

*.MnbStatusEntryText
{
  font-size: 16px;
  color: #595959ff;
}

*.MnbStatusEntrySubText
{
  font-size: 12px;
  font-family: "Liberation Sans Reg Italic";
  color: #7dbe0cff;
}

*.MnbStatusEntryCancel
{
  border-image: none;
  background-image: url("file://status/edit_close.png");
}

*.MnbStatusEntryCancel:hover
{
  border-image: none;
  background-image: url("file://status/edit_close_hover.png");
}

*.MnbStatusEntryButton
{
  border-image: none;
  color: #7dbe0cff;
  font-family: "Liberation Sans Bold";
  font-size: 13px;
  padding: 0;
}

*.MnbStatusPageTable
{
  border-image: url("file://status/decoration-frame.png") 17 stretch;
  padding: 19;
}


*.MnbStatusPageHeader
{
  font-family: "Liberation Sans Bold";
  font-size: 17px;
  color: #3e3e3eff;
  padding: 6;
}

/* Internet panel */

MoblinNetbookNetpanel
{
  background-color: #ffffff;
  padding: 6;
}

*#netpanel-placeholder
{
  font-family: "Liberation Sans";
  font-size: 17px;
  padding: 8;
}

*#netpanel-subtable NbtkLabel
{
  font-family: "Liberation Sans Bold";
  font-size: 13px;
  color: #6e6e6e;
  padding: 0 4;
}

MwbRadicalBar
{
  background-color: #ffffff;
  border-image: url('file://launcher/launcher-search-entry-bg.png') 5 5 6 5 stretch stretch;
  padding: 4;
}

MwbRadicalBar NbtkEntry
{
  font-family: "Liberation Sans";
  font-size: 15px;
  color: #000000;
}

MwbRadicalBar NbtkButton
{
  border-image: none;
  padding: 0;
}

*#netpanel-entrytable
{
  background-color: #F5F2FD;
  padding: 6 24;
}

*#netpanel-entrytable NbtkLabel
{
  font-family: "Liberation Sans Bold" ! important;
  font-size: 17px ! important;
  color: #000000 ! important;
  padding: 0 20 0 0;
}

MoblinNetbookNetpanel NbtkButton {
  border-image: url("file://netpanel/thumbnail.png") 7 8 9;
  padding: 7 8 9;
}

MoblinNetbookNetpanel NbtkButton:hover {
  border-image: url("file://netpanel/thumbnail_hover.png") 7 8 9;
  padding: 7 8 9;
}

MoblinNetbookNetpanel NbtkButton:active {
  border-image: url("file://netpanel/thumbnail_hover.png") 7 8 9;
  padding: 7 8 9;
}

/* Media panel */

*#media-pane-vbox {
  background-color: #ffff;
  padding: 5;
}

*#media-pane-search {
  border-image: url('file://media-panel/media_search_bkgrd.png') 4 stretch;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
}

*#media-pane-search-label {
  font-family: "Liberation Sans Bold";
  font-size: 17px;
  color: #0e0e0e;
}

AhoghillResultsPane {
  padding: 14px;
}

*#media-pane-results-label {
  font-family: "Liberation Sans Bold";
  font-size: 14;
}

*#media-pane-results-table {
  padding: 0px;
}

AhoghillMediaTile {
}

*#media-pane-album-art {
  border-image: url("file://media-panel/thumbnail.png") 7 12 12 10 stretch;
}

*#media-pane-album-art:hover {
  border-image: url("file://media-panel/thumbnail_hover.png") 7 12 12 10 stretch;
}

*#media-tile-title-label {
  font-size: 13px;
  color: #3b3b3b;
}

*#media-tile-artist-label {
  font-size: 12px;
  color: #7e7e7e;
}

/* pasteboard */

*#pasteboard-vbox {
  background-color: #ffff;
  padding: 5;
}

*#pasteboard-search {
  border-image: url('file://pasteboard/pasteboard-search-bg.png') 4 stretch;
  padding: 4;
}

*#pasteboard-search-label {
  font-family: "Liberation Sans Bold";
  font-size: 18;
  padding-left: 12;
}

*#pasteboard-search-entry *.MnbEntryButton {
  color: #027061;
}

*#pasteboard-items-list {
  border-image: url('file://pasteboard/pasteboard-items-list-bg.png') 10 stretch;
  padding: 10;
}

*#pasteboard-controls {
  border-image: url('file://pasteboard/pasteboard-items-list-bg.png') 10 stretch;
  padding: 12;
}

*#pasteboard-controls NbtkButton {
  font-family: "Liberation Sans";
  font-size: 13;
  color: #027061;
  padding: 4 8 4 8;
}

MnbClipboardItem {
  padding: 4;
}

*.MnbClipboardItemText {
  font-family: "Liberation Sans";
  font-size: 14;
  color: #1a1a1a;
  padding: 4;
}

*.MnbClipboardItemDeleteButton {
  border-image: url('file://pasteboard/pasteboard-delete-bg.png') 4 stretch;
  padding: 4;
}

*.MnbClipboardItemCopyButton {
  font-family: "Liberation Sans";
  font-size: 13;
  color: #027061;
  padding: 4 8 4 8;
}

/* zone switching effect */
*#zone-switch-background {
  border-image: url("file://effects/zone-switch-background.png") 0 stretch stretch;
}

*#zone-switch-strip {
  /* uses same assets as the chooser */
  border-image: url("file://chooser/background.png") 15 15 15 15 stretch stretch;
  /* should match the column spacing, currently not themable. */
  padding: 40;
}