/* generic classes */

* {
  font-size:13px;
}

MxEntry:indeterminate {
  color: gray;
}

MxScrollView {
  xthickness: 26;
  ythickness: 26;
}

MxScrollBar {
  background-color: #e7ebee;
  padding: 3;
}

MxScrollBar > *#backward-stepper {
  border-image: url("generic/vscroll-backward.png") 2 4 2 2;
}

MxScrollBar > *#backward-stepper:active {
  border-image: url("generic/vscroll-backward-hover.png") 2 4 2 2;
}

MxScrollBar > *#forward-stepper {
  border-image: url("generic/vscroll-forward.png") 2 4 2 2;
}

MxScrollBar > *#forward-stepper:active {
  border-image: url("generic/vscroll-forward-hover.png") 2 4 2 2;
}

MxScrollBar *#handle {
  border-image: url("generic/vscroll-handle.png") 2 4 2 2;
}

MxTable {
  background-color: #f000;
}

/* Status bar */

MnbStatusbar {
  background-color: #000000;
  padding: 0 0 0 0;
}

/* theme the status bar button */

MnbStatusbar MxButton, MnbStatusbar MxButton:hover, MnbStatusbar MxButton:active, MnbStatusbar MxButton:checked {
  color: #ffffff;
  font-size: 12px;
  border-image: url("toolbar/toolbar-button-normal.png");
  padding: 0 0 0 5;
}

MxButton#statusbar-myzone-button MxBoxLayout, MxButton:hover#statusbar-myzone-button MxBoxLayout, MxButton:active#statusbar-myzone-button MxBoxLayout, MxButton:checked#statusbar-myzone-button {
  -mx-spacing: 5;
}

/* theme the icon within the status bar button */

MnbStatusbar MxButton MxIcon {
  -mx-content-image: url("toolbar/icon-myzone-tiny.png");
}


/* Toolbar */

MxLabel#time-label {
  color: #2a3c4a;
  font-size: 18px;
  font-weight: bold;
}

MxLabel#date-label {
  color: #2a3c4a;
  font-size: 12px;
}

MnbToolbarBackground#toolbar-main-box {
  border-image: url("toolbar/toolbar-bg.png") 0 0 0 0;
  padding: 0 0 0 0;
}

/* the panel container */
MxBoxLayout#toolbar-left-box {
  padding: 0 0 0 15;
  -mx-spacing: 45;
}

MxBoxLayout#toolbar-left-box {
  padding: 0 0 0 15;
  -mx-spacing: 45;
}

/* theme the icon and text of the panel */

/* theme the clock */
MnbToolbarClock {
  border-image: url("toolbar/toolbar-button-normal.png") 12;
  padding: 0 0 0 0;
  color: #2a3c4a;
  font-size: 22px;
}

MnbToolbarClock:hover, MnbToolbarClock:active, MnbToolbarClock:checked {
  border-image: url("toolbar/toolbar-button-normal.png") 12;
  padding: 0 0 0 0;
  color: #0d7a95;
  font-size: 22px;
}

/* the clock and utility items container */
MxBoxLayout#toolbar-right-box {
  padding: 0 15 0 0;
  -mx-spacing: 10;
}

MnbToolbarApplet, MnbToolbarApplet:hover, MnbToolbarApplet:active, MnbToolbarApplet:checked {
  border-image: url("toolbar/toolbar-button-normal.png") 12;
  padding: 0 0 0 0;
}

/* All toolbar buttons */
MnbToolbarButton, MnbToolbarButton:hover, MnbToolbarButton:active, MnbToolbarButton:checked {
  -mx-border-image-transition-duration: 0;
  background-color: #fff0;
  border-image: url("toolbar/toolbar-button-normal.png") 12;
  color: #2a3c4a;
  font-size: 13px;
  padding: 0 0 0 0;
  font-family: "Open Sans";
}

MnbToolbarButton MxIcon {
    padding: 0 10 0 0;
}

/* applications button */
MnbToolbarButton#applications-button MxIcon {
    -mx-content-image: url("toolbar/icon-apps.png");
}
MnbToolbarButton#applications-button:hover MxIcon, MnbToolbarButton#applications-button:active MxIcon, MnbToolbarButton#applications-button:checked MxIcon {
    -mx-content-image: url("toolbar/icon-apps-highlight.png");
}

/* internet button */
MnbToolbarButton#internet-button MxIcon {
    -mx-content-image: url("toolbar/icon-internet.png");
}
MnbToolbarButton#internet-button:hover MxIcon, MnbToolbarButton#internet-button:active MxIcon, MnbToolbarButton#internet-button:checked MxIcon {
    -mx-content-image: url("toolbar/icon-internet-highlight.png");
}

/* music button */
MnbToolbarButton#music-button MxIcon {
    -mx-content-image: url("toolbar/icon-music.png");
}
MnbToolbarButton#music-button:hover MxIcon, MnbToolbarButton#music-button:active MxIcon, MnbToolbarButton#music-button:checked MxIcon {
    -mx-content-image: url("toolbar/icon-music-highlight.png");
}

/* myzone button */
MnbToolbarButton#myzone-button MxIcon {
    -mx-content-image: url("toolbar/icon-myzone.png");
}
MnbToolbarButton#myzone-button:hover MxIcon, MnbToolbarButton#myzone-button:active MxIcon, MnbToolbarButton#myzone-button:checked MxIcon {
    -mx-content-image: url("toolbar/icon-myzone-highlight.png");
}

/* pasteboard button */
MnbToolbarButton#pasteboard-button MxIcon {
    -mx-content-image: url("toolbar/icon-pasteboard.png");
}
MnbToolbarButton#pasteboard-button:hover MxIcon, MnbToolbarButton#pasteboard-button:active MxIcon, MnbToolbarButton#pasteboard-button:checked MxIcon {
    -mx-content-image: url("toolbar/icon-pasteboard-highlight.png");
}

/* people button */
MnbToolbarButton#people-button MxIcon {
    -mx-content-image: url("toolbar/icon-im.png");
}
MnbToolbarButton#people-button:hover MxIcon, MnbToolbarButton#people-button:active MxIcon, MnbToolbarButton#people-button:checked MxIcon {
    -mx-content-image: url("toolbar/icon-im-highlight.png");
}

MnbToolbarButton#people-button-active MxIcon {
    -mx-content-image: url("toolbar/icon-im-active.png");
}
MnbToolbarButton#people-button-active:hover MxIcon, MnbToolbarButton#people-button-active:active MxIcon, MnbToolbarButton#people-button-active:checked MxIcon {
    -mx-content-image: url("toolbar/icon-im-active-highlight.png");
}

/* switcher button */
MnbToolbarButton#switcher-button MxIcon {
    -mx-content-image: url("toolbar/icon-switcher.png");
}
MnbToolbarButton#switcher-button:hover MxIcon, MnbToolbarButton#switcher-button:active MxIcon, MnbToolbarButton#switcher-button:checked MxIcon {
    -mx-content-image: url("toolbar/icon-switcher-highlight.png");
}
MnbToolbarButton#switcher-button-1 MxIcon {
    -mx-content-image: url("toolbar/icon-switcher-1.png");
}
MnbToolbarButton#switcher-button-1:hover MxIcon, MnbToolbarButton#switcher-button-1:active MxIcon, MnbToolbarButton#switcher-button-1:checked MxIcon {
    -mx-content-image: url("toolbar/icon-switcher-highlight-1.png");
}
MnbToolbarButton#switcher-button-2 MxIcon {
    -mx-content-image: url("toolbar/icon-switcher-2.png");
}
MnbToolbarButton#switcher-button-2:hover MxIcon, MnbToolbarButton#switcher-button-2:active MxIcon, MnbToolbarButton#switcher-button-2:checked MxIcon {
    -mx-content-image: url("toolbar/icon-switcher-highlight-2.png");
}
MnbToolbarButton#switcher-button-3 MxIcon {
    -mx-content-image: url("toolbar/icon-switcher-3.png");
}
MnbToolbarButton#switcher-button-3:hover MxIcon, MnbToolbarButton#switcher-button-3:active MxIcon, MnbToolbarButton#switcher-button-3:checked MxIcon {
    -mx-content-image: url("toolbar/icon-switcher-highlight-3.png");
}
MnbToolbarButton#switcher-button-4 MxIcon {
    -mx-content-image: url("toolbar/icon-switcher-4.png");
}
MnbToolbarButton#switcher-button-4:hover MxIcon, MnbToolbarButton#switcher-button-4:active MxIcon, MnbToolbarButton#switcher-button-4:checked MxIcon {
    -mx-content-image: url("toolbar/icon-switcher-highlight-4.png");
}

/* status button */
MnbToolbarButton#status-button MxIcon {
    -mx-content-image: url("toolbar/icon-status.png");
}
MnbToolbarButton#status-button:hover MxIcon, MnbToolbarButton#status-button:active MxIcon, MnbToolbarButton#status-button:checked MxIcon {
    -mx-content-image: url("toolbar/icon-status-highlight.png");
}

/* bluetooth button */
MnbToolbarApplet#bluetooth-button MxIcon {
  -mx-content-image: url("toolbar/icon-bluetooth-off.png");
}
MnbToolbarApplet:hover#bluetooth-button MxIcon, MnbToolbarApplet:active#bluetooth-button MxIcon, MnbToolbarApplet:checked#bluetooth-button MxIcon {
  -mx-content-image: url("toolbar/icon-bluetooth-off-highlight.png");
}

/* network button */
MnbToolbarButton#network-button MxIcon {
    -mx-content-image: url("toolbar/icon-network.png");
}
MnbToolbarButton#network-button:hover MxIcon, MnbToolbarButton#network-button:active MxIcon, MnbToolbarButton#network-button:checked MxIcon {
    -mx-content-image: url("toolbar/icon-network-highlight.png");
}

/* devices button */
MnbToolbarButton#devices-button MxIcon {
    -mx-content-image: url("toolbar/icon-devices.png");
}
MnbToolbarButton#devices-button:hover MxIcon, MnbToolbarButton#devices-button:active MxIcon, MnbToolbarButton#devices-button:checked MxIcon {
    -mx-content-image: url("toolbar/icon-devices-highlight.png");
}

MnbToolbarButton#devices-button-active MxIcon {
    -mx-content-image: url("toolbar/icon-devices-active.png");
}
MnbToolbarButton#devices-button-active:hover MxIcon, MnbToolbarButton#devices-button-active:active MxIcon, MnbToolbarButton#devices-button-active:checked MxIcon {
    -mx-content-image: url("toolbar/icon-devices-active-highlight.png");
}

/* power-icon */
MnbToolbarButton#power-icon MxIcon {
  -mx-content-image: url("toolbar/icon-battery-80.png");
}

MnbToolbarButton#power-icon:hover MxIcon, MnbToolbarButton#power-icon:active MxIcon, MnbToolbarButton#power-icon:checked MxIcon {
  -mx-content-image: url("toolbar/icon-battery-80-highlight.png");
}


MnbToolbarIcon, MnbToolbarIcon:hover, MnbToolbarIcon:active {
  border-image: none;
}

/* tooltips */
MxTooltip {
  color: white;
  padding: 4 10 12 10;
  background-image: url('generic/tooltip-arrow.png');
  border-image: url('generic/tooltip-background.png') 4 11 12 11;
  font-size: 15px;
  -mx-tooltip-animation: bounce;
}

MxTooltip.alttab {
  background-image: none;
}

/* switcher overlay */
MnbAlttabOverlay {
  border-image: url('alttab/alttab-bkgd.png') 26 25 31 24;
  padding: 14 18 20 18;
}

MnbAlttabOverlayApp.switcherTile {
  border-image: none;
}

MplApplicationView.switcherTile:active {
  border-image: url("shared/application-view-tile.png") 15 13 15 13;
  padding: 6;
}

/* Must be identical to the style defintion for MplPanelBackground */
MnbPanelFrame {
  background-color: #ffffff;
  padding: 4 4 12 4;
}

/* Must be identical to the style defintion for MplPanelBackground */
MnbPanelFrame#too-small, MxFrame#panel-stub {
  background-color: #ffffff;
  padding: 4 4 12 4;
}

MnbEntry {
  border-image: url('generic/search-entry-bg.png') 5 5 6 5;
  padding: 7 10 7 10;
}

MnbEntry > *.MnbEntryEntry {
  border-image: none;
  font-size: 15;
}

MnbEntry *.MnbEntryButton {
  border-image: url('generic/search-entry-separator.png') 0 0 0 3;
  font-size: 13;
  padding: 0 2 0 10;
}

MnbEntry *.MnbEntryClearButton {
  background-image: url('generic/search-entry-clear.png');
  border-image: none;
}

MnbEntry *.MnbEntryClearButton:hover {
  background-image: url('generic/search-entry-clear-hover.png');
}


MplEntry {
  border-image: url('generic/search-entry-bg.png') 5 5 6 5;
  padding: 7 10 7 10;
}

MplEntry > *.MplEntryEntry {
  border-image: none;
  font-size: 15;
}

MplEntry *.MplEntryButton {
  border-image: url('generic/search-entry-separator.png') 0 0 0 3;
  font-size: 13;
  padding: 0 2 0 10;
}

MplEntry *.MplEntryClearButton {
  background-image: url('generic/search-entry-clear.png');
  border-image: none;
}

MplEntry *.MplEntryClearButton:hover {
  background-image: url('generic/search-entry-clear-hover.png');
}

MxLabel
{
  font-family: "Open Sans";
  font-size: 12px;
}

/* date and time */
MxLabel.date-label {
  font-family: "Open Sans";
  font-size: 15px;
}

NtfNotification
{
  border-image: url('notifiers/notification-bg.png') 10 21 33 22;
  padding: 15 26 38 27;
  font-size: 12px;
}

NtfTray *.notification-control
{
  border-image: url('notifiers/notification-bg.png') 10 21 33 22;
  padding: 15 26 38 27;
}

*.NotificationSummary
{
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 16px;
    color: #009bceff;
}

*.NotificationSummaryUrgent
{
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 16px;
    color: #e73035ff;
}


NtfNotification > *.NotificationBody
{
    font-family: "Open Sans";
    font-size: 13px;
    color: #333;
}

MnbZonesPreview {
  spacing: 0;
  border-image: url("effects/zone-switch-background.png") 0;
}

MnbSpinner {
  background-color: #0000;

  /* The background image is a strip of spinner frames; individual frames */
  /* must be square. */
  background-image: url("generic/spinner.png");
}
