#panel-label {
    color: #2a3c4a;
    font-size: 16px;
    padding: 6 6 6 15;
}

/* Container of all widgets (the big box) excluding the label above */
#panel-grid {
}

/* Library / Now Playing */
MxLabel.section-title {
    color: #2a3c4a;
    font-size: 14px;
}

MplAudioTile > *#dawati-audio-tile-title {
    color: #ff0000;
    font-size: 12px;
}
