/* Overrode MnbEntry so we need to redeclare its styles apparently */
MoblinNetbookNetpanel MxButton {
  padding: 7 4;
}

MnbNetpanelBar {
  border-image: url('mpl-entry-bg.png') 5 5 6 5;
  padding: 0 10 0 10;
}

MnbNetpanelBar > *.MplEntryEntry {
  border-image: none;
  font-size: 13;
}

MnbNetpanelBar *.MplEntryButton {
  border-image: url('mpl-entry-separator.png') 0 0 0 3;
  font-size: 13;
  padding: 0 2 0 10;
  color: #4e3972;
}

MnbNetpanelBar *.MplEntryButton {
  color: #c5a3fc;
}

MnbNetpanelBar *.MplEntryClearButton {
  background-image: url('mpl-entry-clear.png');
  border-image: none;
}

MnbNetpanelBar *.MplEntryClearButton:hover {
  background-image: url('mpl-entry-clear-hover.png');
}

MoblinNetbookNetpanel
{
  background-color: #ffffff;
  padding: 1 1;
}


MoblinNetbookNetpanel MxLabel
{
  font-family: "Droid Sans";
  font-size: 12px;
  color: #6e6e6e;
  padding: 0 4;
}

MoblinNetbookNetpanel MxLabel#section
{
  font-family: "Droid Sans Bold";
  font-size: 14px;
  font-weight: bold;
  color: #6e6e6e;
  padding: 2 16 0;
}

MoblinNetbookNetpanel *#netpanel-placeholder-bin *#netpanel-placeholder-label
{
  font-family: "Droid Sans";
  font-size: 11px;
  color: #595959ff;
  padding: 0 4;
}

MoblinNetbookNetpanel *#netpanel-placeholder-bin
{
  border-image: url('placeholder-bg.png') 4 stretch;
  padding: 8;
}

MwbAcList {
  padding: 2 8;
  border-image: url('ac-list.png') 5;
  color: #59457a; /* search match color */
}

MwbAcList > MxLabel {
  padding: 8 0 8 8;
}

MwbAcList > MwbSeparator {
  color: #ededed;
}

MwbAcList > MxFrame { /* highlight color */
  background-color: #ded5ed;
}

MoblinNetbookNetpanel MxButton.weblink {
  border-image: url("thumbnail.png") 7 8 9;
  padding: 7 8 9;
  color: #4e3972;
}

MoblinNetbookNetpanel MxButton.weblink:hover {
  border-image: url("thumbnail_hover.png") 7 8 9;
  padding: 7 8 9;
  color: #c5a3fc;
}

MoblinNetbookNetpanel MxButton.weblink:active {
  border-image: url("thumbnail_hover.png") 7 8 9;
  padding: 7 8 9;
}

MoblinNetbookNetpanel *#netpanel-entrytable
{
  border-image: url('content-pane-header.png') 2;
  padding: 0 7;
}

MnbNetpanelScrollview
{
  padding: 0 12;
}

#base-pane {
  border-image: url('panel-background.png') 3;
  padding: 0 5;
}

#panel-label {
  color: #a980ed;
  font-size: 18px;
  font-weight: bold;
  padding: 0 6 6 18;
}

#pane {
  border-image: url('content-pane-background.png') 5;
  padding: 2;
}

#netpanel-label {
  border-image: url('content-pane-header.png') 2;
  color: #606261;
  font-size: 14px;
  font-weight: bold;
  padding: 10 12 10 0;
}

#pane-content {
  padding: 10 3 10 10;
}
