
MoblinNetbookNetpanel NbtkButton {
  padding: 7 4;
}

/* Overrode MnbEntry so we need to redeclare its styles apparently */
MnbNetpanelBar {
  border-image: url('file://mpl-entry-bg.png') 5 5 6 5 stretch stretch;
  padding: 7 10 7 10;
}

MnbNetpanelBar > *.MplEntryEntry {
  border-image: none;
  font-size: 15;
}

MnbNetpanelBar *.MplEntryButton {
  border-image: url('file://mpl-entry-separator.png') 0 0 0 3 stretch stretch;
  font-size: 13;
  padding: 0 2 0 10;
  color: #4e3972;
}

MnbNetpanelBar *.MplEntryButton {
  color: #c5a3fc;
}

MnbNetpanelBar *.MplEntryClearButton {
  background-image: url('file://mpl-entry-clear.png');
  border-image: none;
}

MnbNetpanelBar *.MplEntryClearButton:hover {
  background-image: url('file://mpl-entry-clear-hover.png');
}

MoblinNetbookNetpanel
{
  background-color: #ffffff;
  padding: 0 5;
}

MoblinNetbookNetpanel NbtkLabel
{
  font-family: "Droid Sans";
  font-size: 13px;
  color: #6e6e6e;
  padding: 0 4;
}

MoblinNetbookNetpanel NbtkLabel#section
{
  font-family: "Droid Sans Bold";
  font-size: 15px;
  color: #6e6e6e;
  padding: 2 16 0;
}

MoblinNetbookNetpanel *#netpanel-placeholder-bin *#netpanel-placeholder-label
{
  font-family: "Droid Sans";
  font-size: 16px;
  color: #595959ff;
  padding: 0 4;
}

MoblinNetbookNetpanel *#netpanel-placeholder-bin
{
  border-image: url('file://placeholder-bg.png') 4 stretch;
  padding: 8;
}

MwbAcList {
  padding: 2 8;
  border-image: url('file://ac-list.png') 5;
  color: #59457a; /* search match color */
}

MwbAcList > NbtkLabel {
  padding: 8 0 8 8;
}

MwbAcList > MwbSeparator {
  color: #ededed;
}

MwbAcList > NbtkBin { /* highlight color */
  background-color: #ded5ed;
}

MoblinNetbookNetpanel NbtkButton.weblink {
  border-image: url("file://thumbnail.png") 7 8 9;
  padding: 7 8 9;
  color: #4e3972;
}

MoblinNetbookNetpanel NbtkButton.weblink:hover {
  border-image: url("file://thumbnail_hover.png") 7 8 9;
  padding: 7 8 9;
  color: #c5a3fc;
}

MoblinNetbookNetpanel NbtkButton.weblink:active {
  border-image: url("file://thumbnail_hover.png") 7 8 9;
  padding: 7 8 9;
}

MoblinNetbookNetpanel *#netpanel-entrytable
{
  background-color: #F5F2FD;
  padding: 6 24;
}

MoblinNetbookNetpanel *#netpanel-entrytable > NbtkLabel
{
  font-family: "Droid Sans Bold";
  font-size: 18px;
  color: #3e3e3eff;
  padding: 0 12 0 0;
}

MnbNetpanelScrollview
{
  padding: 0 12;
}
