/* Overrode MnbEntry so we need to redeclare its styles apparently */
MeegoNetbookNetpanel MxButton {
  padding: 7 4;
}

MnbNetpanelBar {
  border-image: url('mpl-entry-bg.png') 5 5 6 5;
  padding: 0 10 0 10;
}

MnbNetpanelBar > *.MplEntryEntry {
  border-image: none;
  font-size: 15;
}

MnbNetpanelBar *.MplEntryButton {
  border-image: url('mpl-entry-separator.png') 0 0 0 3;
  font-size: 13;
  padding: 0 2 0 10;
  color: #4e3972;
}

MnbNetpanelBar *.MplEntryButton {
  color: #c5a3fc;
}

MnbNetpanelBar *.MplEntryClearButton {
  background-image: url('mpl-entry-clear.png');
  border-image: none;
}

MnbNetpanelBar *.MplEntryClearButton:hover {
  background-image: url('mpl-entry-clear-hover.png');
}

MeegoNetbookNetpanel
{
  background-color: #ffffff;
  padding: 1 1;
}


MeegoNetbookNetpanel MxLabel
{
  font-family: "Droid Sans";
  font-size: 11px;
  color: #6e6e6e;
  padding:  3 0 5 0;
}

MeegoNetbookNetpanel MxLabel#section
{
  font-family: "Droid Sans Bold";
  font-size: 14px;
  font-weight: bold;
  color: #616261;
  padding: 15 16 0 34;
}

MeegoNetbookNetpanel *#netpanel-placeholder-bin *#netpanel-placeholder-label
{
  font-family: "Droid Sans";
  font-size: 16px;
  color: #909190;
  padding: 13 16 13 34;
}

MeegoNetbookNetpanel *#netpanel-placeholder-bin
{
  border-image: url('content-pane-header.png') 2;
  color: #616261;
  padding: 0;
}

MwbAcList {
  padding: 2 8;
  border-image: url('ac-list.png') 5;
  color: #59457a; /* search match color */
}

MwbAcList > MxLabel {
  padding: 8 0 8 8;
}

MwbAcList > MwbSeparator {
  color: #ededed;
}

MwbAcList > MxFrame { /* highlight color */
  background-color: #ded5ed;
}

MeegoNetbookNetpanel MxButton.weblink {
  border-image: url("thumbnail.png") 7 8 9;
  padding: 7 8 9;
  color: #4e3972;
}

MeegoNetbookNetpanel MxButton.weblink:hover {
  border-image: url("thumbnail_hover.png") 7 8 9;
  padding: 7 8 9;
  color: #c5a3fc;
}

MeegoNetbookNetpanel MxButton.weblink:active {
  border-image: url("thumbnail_hover.png") 7 8 9;
  padding: 7 8 9;
}

MeegoNetbookNetpanel *#netpanel-entrytable
{
  border-image: url('content-pane-header.png') 2;
  padding: 0 7;
}

MnbNetpanelScrollview
{
  padding: 0 14;
}

#base-pane {
  border-image: url('panel-background.png') 3;
  padding: 0 3 0 3;
}

#panel-label {
  font-family: "Droid Sans Bold";
  color: #a980ed;
  font-size: 22px;
  font-weight: bold;
  padding: 1 0 5 18;
}

#pane {
  border-image: url('content-pane-background.png') 3;
  padding: 2;
}

#netpanel-label {
  font-family: "Droid Sans Bold";
  border-image: url('content-pane-header.png') 2;
  color: #616261;
  font-size: 16px;
  font-weight: bold;
  padding: 8;
}

#pane-content {
  padding: 10 3 10 10;
}
