
AhoghillGridView {
  background-color: #ffff;
  padding: 5;
}

AhoghillSearchPane#media-pane-search {
  border-image: url('file://media_search_bkgrd.png') 4 stretch;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
}

AhoghillSearchPane > *#media-pane-search-label {
  font-family: "Liberation Sans Bold";
  font-size: 18px;
  padding-left: 12;
  color: #3e3e3eff;
}

*#media-pane-search-entry *.MplEntryButton {
  color: #3e42ac;
}

AhoghillResultsPane {
  padding-left: 14px;
  padding-right: 0px;
  padding-top: 14px;
  padding-bottom: 14px;
}

AhoghillResultsPane > *#media-pane-results-label {
  font-family: "Liberation Sans Bold";
  font-size: 14;
  color: #7e7e7e;
}

AhoghillResultsTable {
  padding: 0px;
}

AhoghillMediaTile {
}

AhoghillMediaArt {
  border-image: url("file://thumbnail.png") 7 12 12 10 stretch;
}

AhoghillMediaArt:hover {
  border-image: url("file://thumbnail_hover.png") 7 12 12 10 stretch;
}

AhoghillMediaTile >*#media-tile-title-label {
  font-size: 13px;
  color: #3b3b3b;
}

AhoghillMediaTile > *#media-tile-artist-label {
  font-size: 12px;
  color: #7e7e7e;
}

AhoghillQueueTile > *.AhoghillPrimaryLabel {
  font-family: "Liberation Sans Bold";
  font-size: 13px;
  color:#3b3b3b;
}

AhoghillQueueTile > *.AhoghillSecondaryLabel {
  font-size: 12px;
  color: #7e7e7e;
}

AhoghillPlaylistHeader {
  padding-left: 15;
  padding-right: 15;
  padding-top: 2;
}

AhoghillPlaylistHeader.Top {
  border-image: url('file://top_playque_selected.png') 5 5 5 0 ;
}

NbtkButton.AhoghillControlButton {
  font-size: 12px;
  color: 333;
}

AhoghillPlaylistHeader > *#ahoghill-playlist-title {
  font-family: "Liberation Sans Bold";
  font-size: 17px;
  color: #3b3b3b;
  padding-top: 13;
}

AhoghillPlaylistNp > *.AhoghillPrimaryLabel {
  font-family: "Liberation Sans Bold";
  font-size: 15px;
  color: #3b3b3b;
}

AhoghillPlaylistNp > *.AhoghillSecondaryLabel {
  font-size: 12px;
  color: #3b3b3b;
}

AhoghillPlayButton {
  background-image: url('file://pq_play.png');
}

AhoghillPlayButton:hover {
  background-image: url('file://pq_play_hover.png');
}

AhoghillPlayButton.Toggled {
  background-image: url('file://pq_pause.png');
}

AhoghillPlayButton.Toggled:hover {
  background-image: url('file://pq_pause_hover.png');
}

AhoghillQueueList {
  border-image: url('file://playque_background.png') 5 stretch;
  padding-left: 15px;
  padding-top: 5px;
  padding-right: 2px;
  padding-bottom: 2px;
}

AhoghillQueueItem {
  padding: 5px;
}

NbtkScrollBar.AhoghillProgressBar {
  border-image: url('file://hrn-progress-bar-through.png') 0 20 0 20 stretch;
  background: #00000000;
  padding: 0;
}

NbtkScrollBar.AhoghillProgressBar > *#backward-stepper,
NbtkScrollBar.AhoghillProgressBar > *#forward-stepper
{
  border-image: none;
  background-image: none;
}

NbtkScrollBar.AhoghillProgressBar *#handle
{
  border-image: none;
  background-image: url("file://hrn-progress-bar-handle.png");
}

NbtkScrollBar.AhoghillProgressBar *#handle:hover
{
  border-image: none;
  background-image: url("file://hrn-progress-bar-handle.png");
}

AhoghillPlaylistPlaceholder {
  background-image: url("file://playqueue-placeholder.png");
}

AhoghillExampleTable *.AhoghillExampleTextBin {
  border-image: url('file://placeholder-bg.png') 4 stretch;
  padding: 8;
}

AhoghillExampleTable *.AhoghillExampleText {
  font-family: "Liberation Sans";
  font-size: 16px;
  color: #595959ff;
}

