MnbToolbarApplet#state-off MxIcon {
  -mx-content-image: url("icon-bluetooth-off.png");
}
MnbToolbarApplet#state-off:hover MxIcon, MnbToolbarApplet#state-off:active MxIcon, MnbToolbarApplet#state-off:checked MxIcon {
  -mx-content-image: url("icon-bluetooth-off-highlight.png");
}

MnbToolbarApplet#state-idle MxIcon {
  -mx-content-image: url("icon-bluetooth-idle.png");
}
MnbToolbarApplet#state-idle:hover MxIcon, MnbToolbarApplet#state-idle:active MxIcon, MnbToolbarApplet#state-idle:checked MxIcon {
  -mx-content-image: url("icon-bluetooth-idle-highlight.png");
}


MnbToolbarApplet#state-connecting MxIcon {
  -mx-content-image: url("icon-bluetooth-connecting.png");
}
MnbToolbarApplet#state-connecting:hover MxIcon, MnbToolbarApplet#state-connecting:active MxIcon, MnbToolbarApplet#state-connecting:checked MxIcon {
  -mx-content-image: url("icon-bluetooth-connecting-highlight.png");
}

MxBoxLayout#bt-panel-content {
  padding: 10 10 10 10;
}

MxBoxLayout#bt-panel-button-box {
  padding: 10 0 0 0;
}

MxLabel.BtTitle {
  font-size: 14;
  color: #364350;
}

MxLabel.BtLabel {
  padding: 5 0 10 0;
  font-size: 13;
  color: #677784;
}

MxBoxLayout.BtRequest {
  padding: 10 0 10 0;
}

MxBoxLayout.BtDevice {
  padding: 10 0 10 0;
}


MxButton.BtCloseButton,
MxButton.BtCloseButton:hover,
MxButton.BtCloseButton:active {
  border-image: none;
  padding:0;
}
MxButton.BtCloseButton MxIcon {
  -mx-content-image: url('closebutton-normal.png');
}
MxButton.BtCloseButton:hover MxIcon {
  -mx-content-image: url('closebutton-hover.png');
}
MxButton.BtCloseButton:active MxIcon {
  -mx-content-image: url('closebutton-pressed.png');
}
