
/* Theme goes here  */

MpdFolderButton {
  border-image: none;
}

MpdFolderButton:hover {
  border-image: url('directory-highlight.png') 3;
}

MpdDevicesTile {
  padding: 12;
}

MpdShell {
  padding: 12;
}

*.frame {
  border-image: url('frame-border.png') 10;
  padding: 12;
}

*.panel-title {
  font-size: 18;
}
