
/* Theme goes here  */

MxLabel {
  color: #606261;
}

MxButton {
  color: #775aaa;
}

MpdFolderButton {
  border-image: none;
}

MpdFolderButton:hover {
  border-image: url('directory-highlight.png') 3;
}

MpdShell {
  border-image: url('panel-background.png') 3;
  padding: 5;
}

#panel-label {
  color: #775aaa;
  font-size: 18;
  font-weight: bold;
  padding: 6 6 6 18;
}

#pane-label {
  background-color: #e1e3e0;
  color: #606261;
  font-size: 14;
  font-weight: bold;
  padding: 10 10 10 18;
}

MpdComputerPane, MpdDevicesPane {
  background-color: white;
}

MpdBatteryTile, MpdDiskTile, MpdVolumeTile {
  padding: 10 10 10 18;
}

MpdDefaultDeviceTile, MpdStorageDeviceTile {
  padding: 20 0 20 20;
}

#volume-tile-label {
  font-weight: bold;
}

