
/* Theme goes here  */

MxLabel {
  color: #606261;
}

MxIcon.separator {
  background-image: url('seperator.png');
}

MpdFolderButton {
  border-image: none;
}

MpdFolderButton:hover {
  border-image: url('directory-highlight.png') 3;
}

MpdShell {
  border-image: url('panel-background.png') 0 0 465 0;
  padding: 5;
}

#panel-label {
  color: #775aaa;
  font-size: 22pt;
  font-weight: bold;
  padding: 6 6 6 15;
}

MpdComputerPane, MpdDevicesPane {
  border-image: url('content-pane-background.png') 5;
  padding: 3;
}

#computer-pane-header {
  border-image: url('content-pane-header.png') 2;
}

#computer-pane-label {
  color: #606261;
  font-size: 16pt;
  font-weight: bold;
  padding: 10 10 10 15;
}

#pane-label {
  border-image: url('content-pane-header.png') 2;
  color: #606261;
  font-size: 16pt;
  font-weight: bold;
  padding: 10 10 10 15;
}

MpdBatteryTile, MpdBrightnessTile, MpdDiskTile, MpdVolumeTile {
  padding: 10 10 10 18;
}

#settings-button-tile {
  padding: 10 20 10 18;
}

MpdDefaultDeviceTile > MxBoxLayout, MpdStorageDeviceTile > MxBoxLayout {
  padding: 15 15 15 20;
}

#volume-tile-label, #brightness-tile-label {
  font-weight: bold;
}

