
/* Entry */

MplEntry *.MplEntryButton {
  color: #027061 !important; /* Override default color. */
}

/* pasteboard */

*#pasteboard-vbox {
  background-color: #ffff;
  padding: 5;
}

*#pasteboard-search {
  border-image: url('file://pasteboard-search-bg.png') 4 stretch;
  padding: 4;
}

*#pasteboard-search-label {
  font-family: "Liberation Sans Bold";
  font-size: 18px;
  padding-left: 12;
  color: #3e3e3eff;
}

*.pasteboard-empty-bin {
  border-image: url('file://placeholder-bg.png') 4 stretch;
  padding: 8;
}

*.pasteboard-empty-label {
  font-family: "Liberation Sans";
  font-size: 16px;
  color: #595959ff;
}

*#pasteboard-items-list {
  border-image: url('file://pasteboard-items-list-bg.png') 10 stretch;
  padding: 10;
}

*#pasteboard-controls {
  border-image: url('file://pasteboard-items-list-bg.png') 10 stretch;
  padding: 12;
}

*#pasteboard-controls NbtkButton {
  font-family: "Liberation Sans";
  font-size: 13px;
  color: #027061;
  padding: 4 8 4 8;
}

MnbClipboardItem {
  padding: 4;
}

MnbClipboardItem > *.MnbClipboardItemDeleteButton {
  border-image: url('file://pasteboard-delete-bg.png') 4 stretch;
  padding: 4;
}

MnbClipboardItem > *.MnbClipboardItemCopyButton {
  font-family: "Liberation Sans";
  font-size: 13;
  color: #027061;
  padding: 4 8 4 8;
}

