
MnbLauncher {
  padding: 5;
}

#panel-label {
  color: #ed2124;
  font-size: 22pt;
  font-weight: bold;
  padding: 6 6 6 15;
}

#pane {
  border-image: url('content-pane-background.png') 5;
  padding: 3;
}

#pane-label {
  border-image: url('content-pane-header.png') 2;
  color: #606261;
  font-size: 16pt;
  font-weight: bold;
  padding: 10 10 10 15;
}

#pane-content {
  padding: 10 3 10 10;
}

/* Launcher  */

MnbLauncher > *#launcher-vbox {
  background-color: #ffff;
  padding: 1 5 5 5;
}

MnbLauncher *#launcher-filter-pane {
  border-image: url('launcher-search-bg.png') 4;
  padding: 4;
}

MnbLauncher *#launcher-filter-label {
  font-family: "Droid Sans Bold";
  font-size: 18px;
  padding: 0 0 0 12;
  color: #3e3e3eff;
}

.tile-label {
  font-family: "Droid Sans Bold";
  font-size: 14pt;
  color: #7e7e7e;
}

MnbLauncher *#launcher-fav-grid {
  padding: 0 0 0 18;
}

MnbLauncher *#launcher-apps-grid {
  padding: 12 0 0 0;
}

MnbLauncher *#launcher-expander-grid {
  padding: 8 5 10 10;
}

/*
 * Launcher button.
 */

MnbLauncherButton {
  padding: 17 10 10 10;
}

MnbLauncherButton:hover {
  border-image: url("launcher-hover.png") 4 6 6 4;
}

MnbLauncherButton > *#mnb-launcher-button-title {
  color: #3b3b3b;
  font-size: 14pt;
}

MnbLauncherButton > *#mnb-launcher-button-description {
  color: #7e7e7e;
  font-size: 14pt;
}

MnbLauncherButton > *#mnb-launcher-button-comment {
  color: #a2adb6;
  font-size: 14pt;
}

MnbLauncherButton > *#mnb-launcher-button-fav-toggle {
  background-image: none;
  border-image: none;
}

MnbLauncherButton:hover > *#mnb-launcher-button-fav-toggle {
  background-image: url("launcher-button-fav-toggle.png");
  border-image: none;
}

MnbLauncherButton:hover > *#mnb-launcher-button-fav-toggle:checked {
  background-image: url("launcher-button-fav-toggle-checked.png");
}

MnbLauncherButton:hover > *#mnb-launcher-button-fav-toggle:active {
  background-image: url("launcher-button-fav-toggle-active.png");
}

MnbLauncherButton:hover > *#mnb-launcher-button-fav-toggle:hover {
  background-image: url("launcher-button-fav-toggle-hover.png");
}

