PengeGridView
{
  padding: 2 2 2 2;
}

PengeCalendarPane
{
  border-image: url('backdrop.png') 5 5 5 5;
  padding: 2;
}

PengeAppsPane
{
  border-image: url('backdrop.png') 5 5 5 5;
  padding: 2;
}

*.PengeCalendarPaneTitle
{
  font-size: 17;
  font-weight: bold;
  font-family: "Droid Sans", "Sans";
  color: #3e3e3eff;
}

PengeEventTile, PengeTaskTile, PengeAppTile
{
  background-color: #fff0;
  padding: 9 10 11 10;
}

PengeEventTile:hover, PengeTaskTile:hover, PengeAppTile:hover,
PengeEventTile:active, PengeTaskTile:active, PengeAppTile:active
{
  border-image: url('tile-partial-glow.png') 7 8 9 8;
}


PengeRecentFileTile, PengePeopleTile
{
  border-image: url('tile-bg.png') 7 8 9 8;
  padding: 6 7 8 7;
}


PengeRecentFileTile:hover, PengePeopleTile:hover
{
  border-image: url('tile-partial-glow.png') 7 8 9 8;
  padding: 6 7 8 7;
}

MxButton.PengeTaskToggleButton
{
  border-image: url('check_box.png') 0;
}

MxButton.PengeTaskToggleButton:hover, MxButton.PengeTaskToggleButton:checked
{
  border-image: url('checked_box.png') 0;
}


PengeEventTile *.PengeEventTimeLabel
{
  color: white;
  font-size:12;
  font-family: "Droid Sans", "Sans";
  padding: 8;
}

PengeEventTile *.PengeEventTimeLabel:past
{
  color: white;
  font-size:12;
  font-family: "Droid Sans", "Sans";
  padding: 8;
}

PengeEventTile *.PengeEventTimeBin
{
  border-image: url('time-bg.png') 0;
}

PengeEventTile *.PengeEventTimeBin:past
{
  border-image: url('time-bg-past.png') 0;
}

PengeDateTile *.PengeDayLabel
{
  font-size: 18;
  font-family: "Droid Sans", "Sans";
}

PengeDateTile *.PengeDateLabel
{
  font-size: 78;
  font-family: "Droid Sans", "Sans";
  color: #4eb9f1ff;
}

PengePeopleTile *.PengeInterestingTilePrimaryLabel,
PengeRecentFileTile *.PengeInterestingTilePrimaryLabel
{
  color: #3e3e3eff;
}

PengePeopleTile *.PengeInterestingTileSecondaryLabel,
PengeRecentFileTile *.PengeInterestingTileSecondaryLabel
{
  color: #3e3e3eff;
  font-size: 11;
}

PengePeopleTile *.PengePeopleTileContentLabel
{
  font-size: 12;
  font-family: "Droid Sans", "Sans";
}

PengePeopleTile *.PengePeopleTileContentBackground
{
  border-image: url('quotebackground.png') 45 51 46 52;
  padding: 8;
}

PengeEventsPane *.PengeNoMoreEventsLabel, PengeTasksPane *.PengeNoMoreTasksLabel
{
  font-size: 16;
  font-family: "Droid Sans", "Sans";
  color: #2c2c2cff;
}

MxTable.PengeInterestingTileDetails
{
  padding: 2;
}

PengePeoplePlaceholderTile *#penge-no-content-main-message
{
  font-size:15px;
  font-family: "Droid Sans", "Sans";
  color: #2c2c2cff;
}

PengePeoplePlaceholderTile *#penge-no-content-other-message
{
  font-size:14px;
  font-family: "Droid Sans", "Sans";
  color: #2c2c2cff;
}

PengePeoplePlaceholderTile
{
  border-image: url('no-content-tile-bg.png') 7 8 9 8;
  padding: 10 11 12 11;
}

PengePeoplePlaceholderTile:hover
{
  border-image: url('no-content-tile-glow-bg.png') 7 8 9 8;
  padding: 10 11 12 11;
}

PengeWelcomeTile
{
  border-image: url('backdrop.png') 5 5 5 5;
  padding: 6;
}

PengeWelcomeTile *#penge-welcome-primary-text
{
  color: #009bceff;
  font-size:19px;
  font-family: "Droid Sans", "Sans";
}

PengeWelcomeTile *#penge-welcome-secondary-text
{
  font-size:14px;
  font-family: "Droid Sans", "Sans";
  color: #2c2c2cff;
}

*.PengeInterestingTileRemoveButton,
*.PengeInterestingTileRemoveButton:hover,
*.PengeInterestingTileRemoveButton:active
{
  border-image:none;
  padding:0;
}

*.PengeInterestingTileRemoveButton *.PengeInterestingTileIcon
{
  background-image: url('tile-dismiss-icon-normal.png');
}

*.PengeInterestingTileRemoveButton:hover *.PengeInterestingTileIcon
{
  background-image: url('tile-dismiss-icon-hover.png');
}

*.PengePeopleTileAvatarBackground
{
  border-image: url("avatar-bg.png") 5 6 7 6;
  padding: 5 6 7 6;
}

