PengeGridView
{
  padding: 2 2 2 2;
}

PengeCalendarPane
{
  border-image: url('content-panel-background.png') 5 5 5 5;
  padding: 4;
}

PengeAppsPane
{
  border-image: url('content-panel-background.png') 5 5 5 5;
  padding: 4;
}

*.PengeEventsPaneHeader, *.PengeTasksPaneHeader
{
  border-image: url('content-panel-header-grey.png') 4 4 4;
  padding: 2;
}


MxLabel.PengeEventsPaneTitle, MxLabel.PengeTasksPaneTitle
{
  font-size: 17;
  font-weight: bold;
  font-family: "Droid Sans", "Sans";
  color: #3e3e3eff;
}

PengeEventTile, PengeTaskTile, PengeAppTile
{
  background-color: #fff0;
  padding: 6;
  border-image: none;
}

PengeEventTile:hover, PengeTaskTile:hover, PengeAppTile:hover,
PengeEventTile:active, PengeTaskTile:active, PengeAppTile:active
{
  border-image: url('content-panel-background-highlight.png') 5;
  padding: 6;
}


PengeRecentFileTile, PengePeopleTile
{
  border-image: url('content-panel-background.png') 5;
  padding: 4 4 4 4;
}


PengeRecentFileTile:hover, PengePeopleTile:hover,
PengeRecentFileTile:active, PengePeopleTile:active
{
  border-image: url('content-panel-background-highlight.png') 5;
  padding: 4 4 4 4;
}

MxButton.PengeTaskToggleButton
{
  border-image: url('check_box.png') 0;
}

PengeCountTile
{
  border-image: url('content-panel-background.png') 5;
  padding: 6;
}

PengeCountTile:hover,
PengeCountTile:active
{
  border-image: url('content-panel-background-highlight.png') 5;
  padding: 6;
}

MxButton.PengeTaskToggleButton:hover, MxButton.PengeTaskToggleButton:checked
{
  border-image: url('checked_box.png') 0;
}


MxLabel.PengeEventTimeLabel
{
  font-weight: bold;
  font-family: "Droid Sans", "Sans";
}

MxLabel.PengeEventTimeLabel:past
{
  font-weight: bold;
  font-family: "Droid Sans", "Sans";
}

MxLabel.PengeEventSummary
{
}

PengePeopleTile *.PengeInterestingTilePrimaryLabel,
PengeRecentFileTile *.PengeInterestingTilePrimaryLabel
{
  color: #3e3e3eff;
}

PengePeopleTile *.PengeInterestingTileSecondaryLabel,
PengeRecentFileTile *.PengeInterestingTileSecondaryLabel
{
  color: #3e3e3eff;
  font-size: 11;
}

PengePeopleTile *.PengePeopleTileContentLabel
{
  font-size: 12;
  font-family: "Droid Sans", "Sans";
}

PengePeopleTile *.PengePeopleTileContentBackground
{
  border-image: url('quotebackground.png') 45 51 46 52;
  padding: 8;
}

PengeEventsPane *.PengeNoMoreEventsLabel, PengeTasksPane *.PengeNoMoreTasksLabel
{
  font-size: 16;
  font-family: "Droid Sans", "Sans";
  color: #2c2c2cff;
}

MxTable.PengeInterestingTileDetails
{
  padding: 2;
}

PengePeoplePlaceholderTile *#penge-no-content-main-message
{
  font-size:15px;
  font-family: "Droid Sans", "Sans";
  color: #2c2c2cff;
}

PengePeoplePlaceholderTile *#penge-no-content-other-message
{
  font-size:14px;
  font-family: "Droid Sans", "Sans";
  color: #2c2c2cff;
}

PengePeoplePlaceholderTile
{
  border-image: url('no-content-tile-bg.png') 7 8 9 8;
  padding: 10 11 12 11;
}

PengePeoplePlaceholderTile:hover
{
  border-image: url('no-content-tile-glow-bg.png') 7 8 9 8;
  padding: 10 11 12 11;
}

PengeWelcomeTile
{
  border-image: url('no-content-tile-bg.png') 7 8 9 8;
  padding: 10 11 12 11;
}

*#penge-welcome-primary-text
{
  color: #009bceff;
  font-size:19;
  font-weight: bold;
  font-family: "Droid Sans", "Sans";
}

*#penge-welcome-secondary-text
{
  font-size:14;
  font-family: "Droid Sans", "Sans";
  color: #2c2c2cff;
}

*.PengeInterestingTileRemoveButton,
*.PengeInterestingTileRemoveButton:hover,
*.PengeInterestingTileRemoveButton:active
{
  border-image:none;
  padding:0;
}

*.PengeInterestingTileRemoveButton *.PengeInterestingTileIcon
{
  -mx-content-image: url('dismiss_button.png');
}

*.PengeInterestingTileRemoveButton:hover *.PengeInterestingTileIcon
{
  -mx-content-image: url('dismiss_button_hover.png');
}

*.PengePeopleTileAvatarBackground
{
  border-image: url("avatar_frame.png") 4 4 4 4;
  padding: 2 2 2 2;
}

MxLabel.PengeZeroCountLabel
{
  font-size: 21;
  font-family: "Droid Sans";
  color: #a7a7a7ff;
  border-image: url('count-frame-zero.png') 12;
  padding: 5 6;
}

MxLabel.PengeCountLabel
{
  font-size: 21;
  font-family: "Droid Sans";
  color: #000000ff;
  border-image: url('count-frame.png') 12;
  padding: 5 6;
}

MxLabel.PengeCountMessageLabel
{
  font-size: 14;
  font-family: "Droid Sans";
}

MxLabel.PengeCountAccountLabel
{
  font-size: 11;
  font-family: "Droid Sans";
  color: #7a7a7aff;
}
