.HomeGridHint {
  border-image: url("selector.png") 10 10 10 10;
}

.HomeGridBackgroundTile {
  background-image: url("selector-empty.png") 10 10 10 10;
  opacity: 0.2;
}

MnbHomeGrid {
  -mx-spacing: 20;
}
