/* Tab picker */
MwbTabPicker {
  border-image: url('file://tab-bar-background.png') 0 0 5;
  padding: 0 0 0 3;
}

*#chooser-button {
  border-image: url('file://tab-switcher.png') 9 6 5;
  padding: 35 34 0 0;
}

*#chooser-button:hover {
  border-image: url('file://tab-switcher-hover.png') 9 6 5;
}

*#chooser-close-button {
  border-image: url('file://tab-switcher-close.png') 5 30 0 0;
  padding: 32 33 0 0;
}

*#chooser-close-button:hover {
  border-image: url('file://tab-switcher-close-hover.png') 5 30 0 0;
  padding: 32 33 0 0;
}

*#tab-picker-preview {
  padding: 4 0 4 3;
}

/* Tabs */
MwbTab:hover {
  color: #ffffff;
  border-image: url('file://tab-inactive-hover.png') 12 31 5 9;
}

MwbTab {
  color: #000000;
  border-image: url('file://tab-inactive.png') 12 31 5 9;
  padding: 8 10 4 14;
}

MwbTab:checked, MwbTab:active {
  color: #727272;
  border-image: url('file://tab-active.png') 8 31 9 11;
  padding: 6 10 6 14;
}

*#private-tab:hover {
  color: #ffffff;
  border-image: url('file://tab-inactive-hover-private.png') 12 31 5 9;
}

*#private-tab {
  color: #000000;
  border-image: url('file://tab-inactive-private.png') 12 31 5 9;
  padding: 8 10 4 14;
}

*#private-tab:checked, *#private-tab:active {
  color: #727272;
  border-image: url('file://tab-active-private.png') 8 31 9 11;
  padding: 6 10 6 14;
}

MwbTab NbtkLabel {
  font-size: 13;
}

*#tab-close-button {
  border-image: url('file://close-on-tab.png') 0;
  padding: 19 20 0 0;
}

*#tab-close-button:hover {
  border-image: url('file://close-on-tab-hover.png') 0;
}

*#preview-tab {
  border-image: url('file://preview-tab-inactive.png') 10;
  padding: 7 10 7 14;
}

*#preview-tab:checked, *#preview-tab:active {
  border-image: url('file://preview-tab-active.png') 10;
}

*#preview-tab:hover {
  border-image: url('file://preview-tab-hover.png') 10;
}

*#private-preview-tab {
  border-image: url('file://preview-tab-inactive-private.png') 10;
}

*#private-preview-tab:checked, *#private-preview-tab:active {
  border-image: url('file://preview-tab-active-private.png') 10;
}

*#private-preview-tab:hover {
  border-image: url('file://preview-tab-hover-private.png') 10;
}

*#new-tab {
  border-image: url('file://tab-add.png') 9 6 5;
  padding: 35 34 0 0;
}

*#new-tab:hover {
  border-image: url('file://tab-add-hover.png') 9 6 5;
}

/* Location entry */
MwbRadicalBar {
  color: #000000;
  background-color: #ffffff;
  border-image: url('file://entry-bar.png') 5;
  padding: 0 0 0 8;
}

MwbRadicalBar NbtkEntry {
  color: #000000;
  background-color: #ffffff00;
  padding: 10 6;
  selection-background-color: #ded5ed;
  caret-color: #59457a;
  font-size: 14;
  border-image: none;
}

*#radical-bar-title {
  color: #000000;
  background-color: #ffffff00;
  padding: 10 6;
  selection-background-color: #ded5ed;
  font-size: 14;
  border-image: none;
}

*#radical-bar-instructions {
  font-size: 10;
  color:#6d6d6b;
  border-image: url('file://entry-desc-background.png') 5 0;
  padding: 2 8;
}

MwbAcList {
  padding: 2 8;
  border-image: url('file://ac-list.png') 5;
  color: #59457a; /* search match color */
}

MwbAcList > NbtkLabel {
  padding: 8 0 8 8;
}

MwbAcList > MwbSeparator {
  color: #ededed;
}

MwbAcList > NbtkBin { /* highlight color */
  background-color: #ded5ed;
}

*#url-button-stop {
  background-image: url('file://stop.png');
  padding: 28 28 0 0;
  background-color: #0000;
  border-image: none;
}

*#url-button-stop:hover {
  background-image: url('file://stop-hover.png');
  background-color: #0000;
  border-image: none;
}

*#url-button-play {
  background-image: url('file://play.png');
  padding: 28 28 0 0;
  background-color: #0000;
  border-image: none;
}

*#url-button-play:hover {
  background-image: url('file://play-hover.png');
  background-color: #0000;
  border-image: none;
}

*#url-button-reload {
  background-image: url('file://reload.png');
  padding: 28 28 0 0;
  background-color: #0000;
  border-image: none;
}

*#url-button-reload:hover {
  background-image: url('file://reload-hover.png');
  background-color: #0000;
  border-image: none;
}

*#pin-button-pinned {
  background-image: url('file://moblin-pin-pinned.png');
  padding: 30 30 0 0;
  background-color: #0000;
  border-image: none;
}

*#pin-button-pinned:active {
  background-image: url('file://moblin-pin-pinned-active.png');
  background-color: #0000;
  border-image: none;
}

*#pin-button-pinned:hover {
  background-image: url('file://moblin-pin-pinned-hover.png');
  background-color: #0000;
  border-image: none;
}

*#pin-button-unpinned {
  background-image: url('file://moblin-pin-unpinned.png');
  padding: 30 30 0 0;
  background-color: #0000;
  border-image: none;
}

*#pin-button-unpinned:active {
  background-image: url('file://moblin-pin-unpinned-active.png');
  background-color: #0000;
  border-image: none;
}

*#pin-button-unpinned:hover {
  background-image: url('file://moblin-pin-unpinned-hover.png');
  background-color: #0000;
  border-image: none;
}

*#lock-icon-secure {
  background-image: url('file://secure.png');
  padding: 30 30 0 0;
  background-color: #0000;
  border-image: none;
}

*#lock-icon-insecure {
  background-image: url('file://unsecure.png');
  padding: 30 30 0 0;
  background-color: #0000;
  border-image: none;
}

/* Toolbar */
*#browser-toolbar {
  background-color: #333333;
  padding: 6 6 6 6;
}

*#back-button {
  border-image: url('file://go-back.png') 0;
  padding: 51 57 0 0;
}

*#back-button:hover {
  border-image: url('file://go-back-hover.png') 0;
}

*#back-button:disabled {
  border-image: url('file://go-back-insensitive.png') 0;
}

*#forward-button {
  border-image: url('file://go-forward.png') 0;
  padding: 51 57 0 0;
}

*#forward-button:hover {
  border-image: url('file://go-forward-hover.png') 0;
}

*#forward-button:disabled {
  border-image: url('file://go-forward-insensitive.png') 0;
}

*#settings-button {
  border-image: url('file://settings.png') 0;
  padding: 51 57 0 0;
}

*#settings-button:hover {
  border-image: url('file://settings-hover.png') 0;
}

*#close-button {
  border-image: url('file://close.png') 0;
  padding: 51 57 0 0;
}

*#close-button:hover {
  border-image: url('file://close-hover.png') 0;
}

/* Find bar */

MwbFindBar {
  padding: 16 8;
  background-color: #dfe1e3;
}

MwbFindBar > NbtkLabel {
  font-size: 18;
}

MwbFindBar > MwbSeparator {
  color: #ffffff;
}

MwbFindBar > *#close {
  border-image: url('file://close-on-tab.png') 0;
  padding: 19 20 0 0;
}

MwbFindBar > *#close:hover {
  border-image: url('file://close-on-tab-hover.png') 0;
}

/* Scrollbar */
NbtkScrollBar {
  background-color: #e7ebee;
}

NbtkButton#backward-stepper {
  border-image: url("file://scroll-backward.png") 5;
}

NbtkButton#backward-stepper:active,
NbtkButton#backward-stepper:hover {
  border-image: url("file://scroll-backward-hover.png") 5;
}

NbtkButton#forward-stepper {
  border-image: url("file://scroll-forward.png") 5;
}

NbtkButton#forward-stepper:active,
NbtkButton#forward-stepper:hover {
  border-image: url("file://scroll-forward-hover.png") 5;
}

NbtkScrollBar NbtkButton#hhandle {
  border-image: url("file://scroll-hhandle.png") 5;
}

NbtkScrollBar NbtkButton#hhandle:hover {
  border-image: url("file://scroll-hhandle-hover.png") 5;
}

NbtkButton#up-stepper {
  border-image: url("file://scroll-upward.png") 5;
}

NbtkButton#up-stepper:active,
NbtkButton#up-stepper:hover {
  border-image: url("file://scroll-upward-hover.png") 5;
}

NbtkButton#down-stepper {
  border-image: url("file://scroll-downward.png") 5;
}

NbtkButton#down-stepper:active,
NbtkButton#down-stepper:hover {
  border-image: url("file://scroll-downward-hover.png") 5;
}

NbtkScrollBar NbtkButton#vhandle {
  border-image: url("file://scroll-vhandle.png") 5 3;
}

NbtkScrollBar NbtkButton#vhandle:hover {
  border-image: url("file://scroll-vhandle-hover.png") 3 5;
}

/* Page */
MwbPage > NbtkBin {
  border-image: url('file://preview-tab-inactive.png') 10;
  padding: 8;
}

/* Crash page */
MwbCrashPage {
  background-color: #ffffff;
  padding: 16 0 0 0;
}

MwbCrashPage > NbtkBin {
  border-image: url('file://preview-tab-inactive.png') 10;
  padding: 8;
}

MwbCrashPage > *#title {
  font-size: 36;
  padding: 0 0 0 2;
}

MwbCrashPage > *#message {
  font-size: 14;
  padding: 0 0 0 2;
}

/* Status bar */
MwbStatusBar {
  border-image: url('file://status-background.png') 1 1 0 0;
  padding: 4 4 0 4;
}

MwbStatusBar NbtkLabel {
  font-size: 12;
}

NbtkProgressBar {
  background-color: #e0e0e0;
}

NbtkProgressBar > NbtkProgressBarFill {
  background-color: #59457a;
}

/* Pop-up menu */
MwbPopup {
  border-image: url('file://preview-tab-inactive.png') 10;
  padding: 3 4 4 4;
}

MwbPopup > NbtkButton {
  border-image: none;
  padding: 4;
}

MwbPopup > NbtkButton:active, MwbPopup > NbtkButton:hover {
  border-image: url('file://popup-item-hover.png') 7;
  color: #ffffff;
  padding: 4;
}

/* Downloads */
MwbDownloadManager {
  padding: 4;
}

MwbDownload {
  padding: 4;
  color: #ececec;
}

MwbDownload > NbtkButton {
  padding: 6 8;
}

MwbDownload > NbtkLabel {
  padding: 2 6;
}

MwbDownload > *#subtitle {
  color: #6f6f6f;
  font-size: 12;
}

MwbDownload > *#cancel {
  border-image: url('file://cancel-download.png') 0;
  padding: 19 20 0 0;
}

MwbDownload > *#cancel:active, MwbDownload > *#cancel:hover {
  border-image: url('file://cancel-download-hover.png') 0;
  padding: 19 20 0 0;
}

